In [52]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-04-30'
end_date = '2023-05-31'
store_id = '985'

query = f"""
select qfo.source_store_id,
       sum(qfo.cnt_wares_pos_detail)                                                             as "Кол-во товаров в чеках", -- "Количество товаров в чеке"
       sum(qfo.order_sum_with_vat)                                                               as "Выручка, тг с НДС",
       sum(qfo.order_sum_without_vat)                                                            as "Выручка, тг без НДС",
       sum(qfo.is_sale_order)                                                                    as "Количество чеков"
from dwh_data.qs_fact_order qfo
where date(qfo.order_date) between to_date('{start_date}', 'YYYY-MM-DD') and to_date('{end_date}', 'YYYY-MM-DD')
        and qfo."source_store_id"::int >= 0
group by qfo.source_store_id
     union all
select   qfog.source_store_id,
         sum(qfog.count_wares)                            as quantity,
         sum(qfog.sum_sale_vat)                           as order_sum_with_vat,
         sum(qfog.sum_sale_no_vat)                        as order_sum_without_vat,
         sum(qfog.is_sale_order)                          as sale_order_cnt
from dwh_data.qs_fact_order_gross qfog
where date(qfog.order_date) between to_date('{start_date}', 'YYYY-MM-DD') and to_date('{end_date}', 'YYYY-MM-DD')
      and qfog."source_store_id"::int >= 0
group by qfog.source_store_id
order by source_store_id;

"""

cur.execute(query)

print('Executed')

df = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [21]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-05-01'
end_date = '2023-06-15'
store_id = '985'

query = f"""
SELECT
      q.source_store_id::int                                                                    as source_store_id,
      Sum(q."sum_order_wares_vat_nr")                                                           as "Оборот, тг с НДС",
      Sum(q."sum_order_wares_without_vat_nr")                                                   as "Оборот, тг без НДС",
      Sum(q."cost_price_base_t")                                                                as "Себестоимость",
      Sum(q."cost_price_base_t") -Sum(q."cost_price_base_t")*
              (Sum(q."sum_order_wares_vat_nr") -Sum(q."sum_order_wares_without_vat_nr") )
              /decode(Sum(q."sum_order_wares_vat_nr"),0,null,Sum(q."sum_order_wares_vat_nr"))   as "Бухгалтерская себестоимость"
   FROM "dwh_data"."qs_fact_sales" q
   WHERE 1=1
  --and to_char(q.order_date,'DD.MM.YYYY') in ($(vDatesList))
   and  date(q.order_date) between to_date('{start_date}', 'YYYY-MM-DD') and to_date('{end_date}', 'YYYY-MM-DD')
    and q."source_store_id"::int >= 0
   GROUP BY
      "source_store_id"
 union all
    SELECT
          sa.source_store_id::int                          as source_store_id,
          Sum("sum_sale")                                  as sum_order_with_vat,
          Sum(sa."sum_sale_no_vat")                        as sum_order_without_vat,
          Sum("sum_coming")                                as cost_price_with_vat ,
          Sum(sa."sum_coming_no_vat")                      as cost_price_without_vat
    FROM "dwh_data"."qs_fact_sales_gross" sa
    left join dwh_data.dim_store ds on ds.source_store_id = sa.source_store_id and current_date between ds.datestart and ds.dateend
    WHERE 1=1
   and  date(sa.order_date) between to_date('{start_date}', 'YYYY-MM-DD') and to_date('{end_date}', 'YYYY-MM-DD')
   and sa.source_store_id::int >= 0
    GROUP BY
        sa.source_store_id
    order by source_store_id;
"""

cur.execute(query)

print('Executed')

df1 = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [53]:
df.columns = ["Номер филиала", "Количество товаров в чеке", "Выручка, тг с НДС", "Выручка, тг без НДС", "Количество чеков"]
df

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,1160,6267009.92,5595544.58,47
1,4,1323651,1123343574.97,1002975175.50,169456
2,96,1467450,1337514658.00,1194201535.28,185292
3,96,362,1949488.76,1740614.95,16
4,102,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...
285,2889,22454,13032280.00,11635858.71,6966
286,2970,2,0.00,0.00,2
287,2975,33592,20023547.00,17877998.41,10315
288,2989,44,1098237.00,980568.75,2
289,3012,29725,19071426.00,17027953.64,10324

In [60]:
f = pd.read_csv('C:\\Users\\Abdykarim.D\\Desktop\\_select_qfo_source_store_id_sum_qfo_cnt_wares_pos_detail_as_Кол__202306211451.csv', encoding='windows-1251')
f
f.to_excel('C:\\Users\\Abdykarim.D\\Desktop\\erkerj.xlsx')

In [23]:
df1.columns = ["Номер филиала", "Оборот, тг с НДС", "Оборот, тг без НДС", "Себестоимость", "Бухгалтерская себестоимость"]
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,8987483.89400000000000000000000000000000087048...,8024539.19107142857142857142857142857142934864...,8593171.85090479773005556049483369675492954888...,7684053.29693873995706942935351687665152178207...
1,4,1633145468.21799999962469530000000000000000000...,1458156954.87486042290866372242857142857140657...,1504233117.25796728777859541690649738526442186...,1343057323.65416571553309330032166449553000808...
2,96,1949684645.93300000052077686000000000000000000...,1740786555.81324757540100748499999999999998002...,1787603355.98602486573632914811483779718284170...,1596071393.24728094089950150457989576734433222...
3,96,3849105.54800000000000000000000000000000266135...,3436701.38214285714285714285714285714285951907...,3747761.13857188407111952111557085183239691980...,3352156.94660605170635671528175968913606867840...
4,102,346796020.477999999973712240000000000000000000...,309639303.998172913654113176428571428571429279...,333287066.806987338588984466657602689126500259...,297577738.220484649007542722424923615637765515...
...,...,...,...,...,...
287,2889,20039711.6450000000000000000000000000000000000...,17892599.6830325735614304885714285714285707496...,15778232.0632444797125517575970409619297825430...,14087707.1993229554709832805880332626640121006...
288,2970,12385575.4350000000000000000000000000000000000...,11058549.4955349329342430457142857142857145401...,9588780.80342445167338501291989664082687338562...,8561411.43162836979437871154723413694191636441...
289,2975,29380770.4619999999853364000000000000000000000...,26232732.3739249158335383200000000000000008596...,24249911.3052757459248426509488403356875552899...,21651625.3100127729747750565801113597098761960...
290,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
291,3012,26601660.9150000000000000000000000000000000000...,23751482.9598202352539076342857142857142852549...,20690799.4480077219054070799227326661849541915...,18473928.0785773949662223871649414715382607161...

In [24]:
df

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,1160,6267009.92,5595544.58,47
1,4,1323651,1123343574.97,1002975175.50,169456
2,96,1467450,1337514658.00,1194201535.28,185292
3,96,362,1949488.76,1740614.95,16
4,102,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...
285,2889,22454,13032280.00,11635858.71,6966
286,2970,2,0.00,0.00,2
287,2975,33592,20023547.00,17877998.41,10315
288,2989,44,1098237.00,980568.75,2
289,3012,29725,19071426.00,17027953.64,10324

In [25]:
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,8987483.89400000000000000000000000000000087048...,8024539.19107142857142857142857142857142934864...,8593171.85090479773005556049483369675492954888...,7684053.29693873995706942935351687665152178207...
1,4,1633145468.21799999962469530000000000000000000...,1458156954.87486042290866372242857142857140657...,1504233117.25796728777859541690649738526442186...,1343057323.65416571553309330032166449553000808...
2,96,1949684645.93300000052077686000000000000000000...,1740786555.81324757540100748499999999999998002...,1787603355.98602486573632914811483779718284170...,1596071393.24728094089950150457989576734433222...
3,96,3849105.54800000000000000000000000000000266135...,3436701.38214285714285714285714285714285951907...,3747761.13857188407111952111557085183239691980...,3352156.94660605170635671528175968913606867840...
4,102,346796020.477999999973712240000000000000000000...,309639303.998172913654113176428571428571429279...,333287066.806987338588984466657602689126500259...,297577738.220484649007542722424923615637765515...
...,...,...,...,...,...
287,2889,20039711.6450000000000000000000000000000000000...,17892599.6830325735614304885714285714285707496...,15778232.0632444797125517575970409619297825430...,14087707.1993229554709832805880332626640121006...
288,2970,12385575.4350000000000000000000000000000000000...,11058549.4955349329342430457142857142857145401...,9588780.80342445167338501291989664082687338562...,8561411.43162836979437871154723413694191636441...
289,2975,29380770.4619999999853364000000000000000000000...,26232732.3739249158335383200000000000000008596...,24249911.3052757459248426509488403356875552899...,21651625.3100127729747750565801113597098761960...
290,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
291,3012,26601660.9150000000000000000000000000000000000...,23751482.9598202352539076342857142857142852549...,20690799.4480077219054070799227326661849541915...,18473928.0785773949662223871649414715382607161...

In [57]:
df2 = pd.concat([df, df1], axis=1, join="inner", )
df2

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,2403,750860,474786325.00,423915219.23,181488,1565,1309497514.29499999946546316000000000000000000...,1169212276.88472935491710285728571428571428891...,1148464763.53901503337992920543712890327875073...,1025430813.30113314135818596849972789421788661...
1,1910,2625617,1573860568.00,1405262727.31,578648,1025,6153259757.35000000211326519200000000000000000...,5495715979.96709153787495820065079365079353821...,5693624527.60421975658266636449627666868369481...,5085197851.90457610412386561083295922186574137...
2,2382,469751,329411547.00,294121417.22,108255,91,53373.5999999999999999999999999999999999850032000,47654.999999999999999999999999999999999986610,57835.384265163960621091960160,51638.7359510392505545463930
3,542,110534304,66658064518.79,59515889206.51,11928517,1025,109750.999999999999999999999999999999999983520...,97991.9642857142857142857142857142857142710000...,93876.0000000000000000000000000000000000337600...,83817.8571428571428571428571428571428571730000...
4,2127,1338400,985781735.00,880179493.61,221316,2124,1115753983.26700000012180444000000000000000000...,996228170.378317702875119025142857142857121595...,995110734.245989134137233874219610105205641515...,888508901.576087150027854375791366269014533139...
...,...,...,...,...,...,...,...,...,...,...
379,1353,1511222,1236393509.30,1104169116.46,83404,2781,203065176.350000000157498840000000000000000000...,181314129.376768841375975125999999999999995464...,148346411.922336405420234705152503240177775742...,132456490.114810109907654884781923161500889169...
380,280,62877,1692630902.97000000000086400000000000000000000...,1522719636.93857142857220000000000000000000000...,5307,2059,1148454930.22900000000000000000000000000000000...,1025406037.21152229133944614999999999999998257...,1027762811.37517332926893709649326631067513726...,917645232.621752940969936995611027552303011877...
381,969,1957,8602619.45,7681629.02,170,1612,3367923555.12199999953046578000000000000000000...,3007240173.83858090612058660257142857142855023...,2999856296.19020749901736663113013943911781633...,2678590598.03363410950080206776137752051244685...
382,2433,1,23032.10,20564.38,1,1439,1.99999999900000048000000000000000000000000000...,1.78571428482142900000000000000000000000000000...,4557.67494689861111909197041089997560713100416...,4069.35263115947421347497358116069250636696800...
383,2989,64,1890012.00,1687510.71,3,1472,9083611.76499999999999999999999999999999868734...,8110367.64732142857142857142857142857142739941...,8255898.36485271396725294964028776978417205392...,7375859.11922194990933299075025693730729647661...

In [26]:
df2 = df1.copy()
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0, 1], dtype='int64')
Оборот, тг с НДС               1642132952.111999999624695300
Оборот, тг без НДС             1466181494.065931851480092294
Себестоимость                  1512826289.108872085508650977
Бухгалтерская себестоимость    1350741376.951104455490162730
dtype: object
Index([2, 3], dtype='int64')
Оборот, тг с НДС               1953533751.481000000520776860
Оборот, тг без НДС             1744223257.195390432543864628
Себестоимость                  1791351117.124596749807448669
Бухгалтерская себестоимость    1599423550.193886992605858220
dtype: object
Index([4, 5], dtype='int64')
Оборот, тг с НДС               350025098.4779999999737122400
Оборот, тг без НДС             312522409.3553157707969703193
Себестоимость                  336285598.9480395385889844667
Бухгалтерская себестоимость    300258644.4717391632932570081
dtype: object
Index([6, 7], dtype='int64')
Оборот, тг с НДС               872878692.0150000001003202200
Оборот, тг без НДС             779354431.0761521775229056233
Себестоимость                  812968563.0805851515517197302
Бухгалтерская себестоимость    725872460.9908893456577332903
dtype: object
Index([8, 9], dtype='int64')
Оборот, тг с НДС               715771780.8967000004804461100
Оборот, тг без НДС             639326777.1991320829151029196
Себестоимость                  697284463.0858589758661807704
Бухгалтерская себестоимость    622814450.9090236993607968349
dtype: object
Index([10, 11], dtype='int64')
Оборот, тг с НДС               1673206736.862000000031262000
Оборот, тг без НДС             1493932728.780825425966935450
Себестоимость                  1554631149.832747307004242947
Бухгалтерская себестоимость    1388076962.434894316240643036
dtype: object
Index([12], dtype='int64')
Оборот, тг с НДС               259792620.751000000571892800000000000000000000...
Оборот, тг без НДС             231956883.807644627169906289428571428571429803...
Себестоимость                  239572386.271091956799999999999999999999999980...
Бухгалтерская себестоимость    213903166.322286429327564057791122318704930877...
dtype: object
Index([13, 14], dtype='int64')
Оборот, тг с НДС               616450995.2030000002001436200
Оборот, тг без НДС             550403740.7883287352670651500
Себестоимость                  566577887.1559722396557153529
Бухгалтерская себестоимость    505885488.1754188325873486577
dtype: object
Index([15, 16], dtype='int64')
Оборот, тг с НДС               2140450314.893999999076879640
Оборот, тг без НДС             1911106407.573745843794904148
Себестоимость                  2016046201.564319446859499853
Бухгалтерская себестоимость    1800036594.594489962244385999
dtype: object
Index([17, 18], dtype='int64')
Оборот, тг с НДС               766026061.5839999999712286800
Оборот, тг без НДС             684823544.3869816161263305029
Себестоимость                  770330071.5868775898293810516
Бухгалтерская себестоимость    688692163.6591671282142220905
dtype: object
Index([19, 20], dtype='int64')
Оборот, тг с НДС               1599727865.098000000412417120
Оборот, тг без НДС             1429140423.973021763168797668
Себестоимость                  1521601820.863971217924305408
Бухгалтерская себестоимость    1359381355.723027284171592117
dtype: object
Index([21, 22], dtype='int64')
Оборот, тг с НДС               2950466484.692839999749451360
Оборот, тг без НДС             2634361056.190885041311305485
Себестоимость                  2731931347.329485307960508478
Бухгалтерская себестоимость    2439250517.769005206665166946
dtype: object
Index([23], dtype='int64')
Оборот, тг с НДС               521237488.811000000213051340000000000000000000...
Оборот, тг без НДС             465389697.804178618917600742142857142857149499...
Себестоимость                  471653230.013624182540391936469564832852644102...
Бухгалтерская себестоимость    421118125.415565864869227837329085693767960728...
dtype: object
Index([24, 25], dtype='int64')
Оборот, тг с НДС               853825578.8570000005305916200
Оборот, тг без НДС             762344004.0879254606538944899
Себестоимость                  781618116.5680749006078926055
Бухгалтерская себестоимость    697873077.8662189226520054458
dtype: object
Index([26], dtype='int64')
Оборот, тг с НДС               665306580.051000000082013210000000000000000000...
Оборот, тг без НДС             594022289.732592990894347488357142857142848104...
Себестоимость                  601434064.598049722745142655831977479901561044...
Бухгалтерская себестоимость    536993396.560615826438816348907837662408982543...
dtype: object
Index([27, 28], dtype='int64')
Оборот, тг с НДС               406841191.2379999998747609800
Оборот, тг без НДС             363250612.4095844368263903536
Себестоимость                  383661411.7994132741030971293
Бухгалтерская себестоимость    342554406.4765014166851548285
dtype: object
Index([29, 30], dtype='int64')
Оборот, тг с НДС               519112945.8079999999203783200
Оборот, тг без НДС             463493599.9913507097677911311
Себестоимость                  471284381.2534875679180314991
Бухгалтерская себестоимость    420790356.1151128544313411513
dtype: object
Index([31, 32], dtype='int64')
Оборот, тг с НДС               1119874968.953999999892224860
Оборот, тг без НДС             999997998.7445175826644410667
Себестоимость                  1082000895.867432956361504297
Бухгалтерская себестоимость    966188084.4034631545538163500
dtype: object
Index([33, 34], dtype='int64')
Оборот, тг с НДС               1461239922.682999997840686340
Оборот, тг без НДС             1304707505.949504325445403194
Себестоимость                  1360661522.901307069817087960
Бухгалтерская себестоимость    1214909817.652212681915297566
dtype: object
Index([35, 36], dtype='int64')
Оборот, тг с НДС               1247142488.902000000670433660
Оборот, тг без НДС             1113648933.867872317181412689
Себестоимость                  1180136441.112042339649459569
Бухгалтерская себестоимость    1053830731.533944749645993702
dtype: object
Index([37], dtype='int64')
Оборот, тг с НДС               543969575.407549998104870530000000000000000000...
Оборот, тг без НДС             485680558.806670146555794952500000000000018915...
Себестоимость                  506338571.989642894973242296759733117579913740...
Бухгалтерская себестоимость    452081902.567905866776244942207928933374961041...
dtype: object
Index([38], dtype='int64')
Оборот, тг с НДС               174874395.441000000344596050000000000000000000...
Оборот, тг без НДС             156138416.806583631094147621214285714285718601...
Себестоимость                  158422610.047120657795572341324202689443407194...
Бухгалтерская себестоимость    141449269.670068399407783321209520335131399227...
dtype: object
Index([39], dtype='int64')
Оборот, тг с НДС               314818567.269000000063615800000000000000000000...
Оборот, тг без НДС             281089426.522963654124041680000000000000002354...
Себестоимость                  283164970.533136012698452648418765536884824519...
Бухгалтерская себестоимость    252827143.802292327314899838520828320269014320...
dtype: object
Index([40, 41], dtype='int64')
Оборот, тг с НДС               392479190.1420000001589117000
Оборот, тг без НДС             350427749.3153249739584667993
Себестоимость                  351814133.4885454422968865953
Бухгалтерская себестоимость    314119673.2777255120448261236
dtype: object
Index([42], dtype='int64')
Оборот, тг с НДС               291165625.998999999891673640000000000000000000...
Оборот, тг без НДС             259969296.854779178435617921142857142857135988...
Себестоимость                  267785764.461159240878971365508580281073163997...
Бухгалтерская себестоимость    239094421.451130283440173506685928155863197565...
dtype: object
Index([43, 44], dtype='int64')
Оборот, тг с НДС               401110698.3540000000459472000
Оборот, тг без НДС             358134552.1017445642068701214
Себестоимость                  373949861.0626793457300413464
Бухгалтерская себестоимость    333883868.8948798152448883817
dtype: object
Index([45], dtype='int64')
Оборот, тг с НДС               370484826.492000000132590280000000000000000000...
Оборот, тг без НДС             330789653.432073720384396770000000000000007518...
Себестоимость                  339757836.595261977370065720882493568779270535...
Бухгалтерская себестоимость    303354871.729422047894369442699290459161038256...
dtype: object
Index([46], dtype='int64')
Оборот, тг с НДС               145131518.130000000000698400000000000000000000...
Оборот, тг без НДС             129586754.866052425812438531142857142857138190...
Себестоимость                  133248377.745238272632763968475779397818133927...
Бухгалтерская себестоимость    118976395.242447723224953618263536734095295236...
dtype: object
Index([47, 48], dtype='int64')
Оборот, тг с НДС               586464920.2824999999519625100
Оборот, тг без НДС             523629849.0406394000169252839
Себестоимость                  565247578.8906395691104654899
Бухгалтерская себестоимость    504708641.1570015338396374455
dtype: object
Index([49, 50], dtype='int64')
Оборот, тг с НДС               637993753.8120000000000000000
Оборот, тг без НДС             569642069.1534223187652120429
Себестоимость                  609224342.1941085651224739917
Бухгалтерская себестоимость    543955471.5433796620148705458
dtype: object
Index([51, 52], dtype='int64')
Оборот, тг с НДС               878191728.3739999999250455000
Оборот, тг без НДС             784107521.4961617088283750036
Себестоимость                  793048350.9718052262370945446
Бухгалтерская себестоимость    708086273.6061311612940137508
dtype: object
Index([53], dtype='int64')
Оборот, тг с НДС               608876646.089170417778069690000000000000000000...
Оборот, тг без НДС             543639199.305254693527137271928571428571444418...
Себестоимость                  598090638.585264983517308601958662936056445412...
Бухгалтерская себестоимость    534008847.212123375515050233022040382169781594...
dtype: object
Index([54, 55], dtype='int64')
Оборот, тг с НДС               931441084.6690000000684907920
Оборот, тг без НДС             831643641.9843996492401439366
Себестоимость                  861503725.7019993742144397205
Бухгалтерская себестоимость    769207511.5692894630903688051
dtype: object
Index([56], dtype='int64')
Оборот, тг с НДС               304526073.868999999927004100000000000000000000...
Оборот, тг без НДС             271897975.911545399611926544999999999999999518...
Себестоимость                  279923030.778149632016215053173305368076182590...
Бухгалтерская себестоимость    249930997.738949180638963416944788486908629301...
dtype: object
Index([57], dtype='int64')
Оборот, тг с НДС               183127871.866000000127548440000000000000000000...
Оборот, тг без НДС             163507588.701752397931023021428571428571432066...
Себестоимость                  171715030.860683368890814245221027479091995164...
Бухгалтерская себестоимость    153317517.174130017893253621618948137635055166...
dtype: object
Index([58], dtype='int64')
Оборот, тг с НДС               248900542.343999999905800760000000000000000000...
Оборот, тг без НДС             222234307.842813687065310309285714285714293151...
Себестоимость                  227862837.067031230116086731323906889589290948...
Бухгалтерская себестоимость    203450500.355698477035205975005598573860079466...
dtype: object
Index([59], dtype='int64')
Оборот, тг с НДС               308134263.976000000139293200000000000000000000...
Оборот, тг без НДС             275119843.695272247662853393571428571428554785...
Себестоимость                  287843613.360655455212734366835022401663093516...
Бухгалтерская себестоимость    257003193.655328067844510608046796227871038643...
dtype: object
Index([60], dtype='int64')
Оборот, тг с НДС               468591074.891999999945629420000000000000000000...
Оборот, тг без НДС             418383778.853479596774725904999999999999974573...
Себестоимость                  426630313.930274139422478861123392518692400745...
Бухгалтерская себестоимость    380918913.055980918892057998035319977523407526...
dtype: object
Index([61, 62], dtype='int64')
Оборот, тг с НДС               571566314.0230000000344508000
Оборот, тг без НДС             510330811.6990313453835551619
Себестоимость                  516718303.0115800496679837925
Бухгалтерская себестоимость    461359013.9493228221172597681
dtype: object
Index([63, 64], dtype='int64')
Оборот, тг с НДС               953597326.1468399998532984300
Оборот, тг без НДС             851407708.4336532168797785862
Себестоимость                  938812544.6001272128236341307
Бухгалтерская себестоимость    838211588.6982425379229759033
dtype: object
Index([65], dtype='int64')
Оборот, тг с НДС               229462830.936000000189945160000000000000000000...
Оборот, тг без НДС             204877073.365689406138046926285714285714281120...
Себестоимость                  213956071.874938029173052045480363791814083990...
Бухгалтерская себестоимость    191031783.473387149324197524138866776655555422...
dtype: object
Index([66], dtype='int64')
Оборот, тг с НДС               173430893.562999999857293040000000000000000000...
Оборот, тг без НДС             154849041.411222034111867548571428571428565588...
Себестоимость                  155152748.927680273188525486776349741595929729...
Бухгалтерская себестоимость    138529266.327281845613625213464251448746239997...
dtype: object
Index([67], dtype='int64')
Оборот, тг с НДС               208688009.895999999997136600000000000000000000...
Оборот, тг без НДС             186328511.812816417778565949999999999999988472...
Себестоимость                  192949666.185942603318659793225002322522121688...
Бухгалтерская себестоимость    172276424.376863524762848634329524641514075270...
dtype: object
Index([68], dtype='int64')
Оборот, тг с НДС               169870373.207999999974808720000000000000000000...
Оборот, тг без НДС             151669976.078554290690543451428571428571420890...
Себестоимость                  156486077.601458374396650078674819072392034228...
Бухгалтерская себестоимость    139719712.144143475308697350842072653906623545...
dtype: object
Index([69], dtype='int64')
Оборот, тг с НДС               223834288.633999999912227460000000000000000000...
Оборот, тг без НДС             199851956.444594677925309434999999999999988151...
Себестоимость                  207597468.933271057376460912899444181925841173...
Бухгалтерская себестоимость    185354802.306897857789628900623841483796508015...
dtype: object
Index([70], dtype='int64')
Оборот, тг с НДС               178224997.799000000205184060000000000000000000...
Оборот, тг без НДС             159129406.263368189611675793571428571428561547...
Себестоимость                  164023329.732599560886515550665028223102742694...
Бухгалтерская себестоимость    146449349.956651724449584105952866348351911936...
dtype: object
Index([71, 72], dtype='int64')
Оборот, тг с НДС               413156271.0549999999412716200
Оборот, тг без НДС             368889746.9290555822508291787
Себестоимость                  392723038.1975548692153356098
Бухгалтерская себестоимость    350646450.0549498280676106709
dtype: object
Index([73], dtype='int64')
Оборот, тг с НДС               348709686.513000000254880400000000000000000000...
Оборот, тг без НДС             311347760.609436989171841459999999999999992410...
Себестоимость                  317864425.462361418459854880707455843030646054...
Бухгалтерская себестоимость    283807364.328613322182285641644765496794100533...
dtype: object
Index([74], dtype='int64')
Оборот, тг с НДС               260837910.730000000299812140000000000000000000...
Оборот, тг без НДС             232890991.723185162049483474999999999999994549...
Себестоимость                  236537084.834417880323822504463715545482516700...
Бухгалтерская себестоимость    211193825.744989553958105597508828854550521961...
dtype: object
Index([75, 76], dtype='int64')
Оборот, тг с НДС               229355259.9239999998548178000
Оборот, тг без НДС             204781050.4574185896043515900
Себестоимость                  211963901.1116806154277611891
Бухгалтерская себестоимость    189253084.2466574637978441791
dtype: object
Index([77], dtype='int64')
Оборот, тг с НДС               324238042.117084602158386250000000000000000000...
Оборот, тг без НДС             289498236.243079281975318164357142857142856850...
Себестоимость                  292448060.358699779173058231550508589193920867...
Бухгалтерская себестоимость    261114325.492937410882407182726783999879023256...
dtype: object
Index([78], dtype='int64')
Оборот, тг с НДС               366677172.229000000172917860000000000000000000...
Оборот, тг без НДС             327390259.781602713434016100714285714285712178...
Себестоимость                  332785839.943703845186242577507398597771580312...
Бухгалтерская себестоимость    297130148.376854119398407117739321405606358118...
dtype: object
Index([79, 80], dtype='int64')
Оборот, тг с НДС               169778489.4770000000000000000
Оборот, тг без НДС             151588150.4744435641362229486
Себестоимость                  153235855.5030710526988247007
Бухгалтерская себестоимость    136817920.7610805827399724656
dtype: object
Index([81], dtype='int64')
Оборот, тг с НДС               651834753.002000000072252340000000000000000000...
Оборот, тг без НДС             581995061.627189286447363605285714285714292924...
Себестоимость                  596338228.861920085559067706983339302887930047...
Бухгалтерская себестоимость    532444615.232224661308189380352923562809160519...
dtype: object
Index([82], dtype='int64')
Оборот, тг с НДС               390762102.394000000078571440000000000000000000...
Оборот, тг без НДС             348894730.178883551296303313142857142857153045...
Себестоимость                  363767373.769890494826964623468319075261577860...
Бухгалтерская себестоимость    324792294.190696266781915914440644809734366201...
dtype: object
Index([83], dtype='int64')
Оборот, тг с НДС               217321462.615999999892924020000000000000000000...
Оборот, тг без НДС             194037033.808544528035741386428571428571426660...
Себестоимость                  199401996.244551225937553250938581556897627653...
Бухгалтерская себестоимость    178037509.139912511858806917581026873126304619...
dtype: object
Index([84], dtype='int64')
Оборот, тг с НДС               432489181.028000000139530560000000000000000000...
Оборот, тг без НДС             386151004.500675043268572882285714285714279244...
Себестоимость                  388869271.196185643416423644165686461081504522...
Бухгалтерская себестоимость    347204661.478296669316610401274712031717972642...
dtype: object
Index([85], dtype='int64')
Оборот, тг с НДС               147436588.185000000003196100000000000000000000...
Оборот, тг без НДС             131641766.129445719804476716428571428571433393...
Себестоимость                  133115690.181713729854301396872488141931292585...
Бухгалтерская себестоимость    118855060.136583780083549779129939353805058897...
dtype: object
Index([86], dtype='int64')
Оборот, тг с НДС               110155393.269999999957490400000000000000000000...
Оборот, тг без НДС             98353536.7010638166920292514285714285714295337...
Себестоимость                  100991929.340615686400000000000000000000000002...
Бухгалтерская себестоимость    90171830.3030982281106066536982491915679406071...
dtype: object
Index([87], dtype='int64')
Оборот, тг с НДС               209801399.189000000178291780000000000000000000...
Оборот, тг без НДС             187322677.847293073923853873571428571428562413...
Себестоимость                  193449922.944645453347927278848057059678318154...
Бухгалтерская себестоимость    172723145.486264438453122851047846328285858896...
dtype: object
Index([88], dtype='int64')
Оборот, тг с НДС               169944995.727999999831070020000000000000000000...
Оборот, тг без НДС             151737649.512620493837298854999999999999988321...

In [27]:
df2

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,1642132952.111999999624695300,1466181494.065931851480092294,1512826289.108872085508650977,1350741376.951104455490162730
1,4,1633145468.21799999962469530000000000000000000...,1458156954.87486042290866372242857142857140657...,1504233117.25796728777859541690649738526442186...,1343057323.65416571553309330032166449553000808...
2,96,1953533751.481000000520776860,1744223257.195390432543864628,1791351117.124596749807448669,1599423550.193886992605858220
3,96,3849105.54800000000000000000000000000000266135...,3436701.38214285714285714285714285714285951907...,3747761.13857188407111952111557085183239691980...,3352156.94660605170635671528175968913606867840...
4,102,350025098.4779999999737122400,312522409.3553157707969703193,336285598.9480395385889844667,300258644.4717391632932570081
...,...,...,...,...,...
287,2889,20039711.6450000000000000000000000000000000000...,17892599.6830325735614304885714285714285707496...,15778232.0632444797125517575970409619297825430...,14087707.1993229554709832805880332626640121006...
288,2970,12385575.4350000000000000000000000000000000000...,11058549.4955349329342430457142857142857145401...,9588780.80342445167338501291989664082687338562...,8561411.43162836979437871154723413694191636441...
289,2975,29380770.4619999999853364000000000000000000000...,26232732.3739249158335383200000000000000008596...,24249911.3052757459248426509488403356875552899...,21651625.3100127729747750565801113597098761960...
290,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
291,3012,26601660.9150000000000000000000000000000000000...,23751482.9598202352539076342857142857142852549...,20690799.4480077219054070799227326661849541915...,18473928.0785773949662223871649414715382607161...

In [29]:
len(df1['Номер филиала'].unique())

247

In [31]:
len(df2)

292

In [32]:
df3 = df.copy()
for i in df3['Номер филиала'].unique():
    print(i, df3[df3['Номер филиала'] == i].index)
    ids = df3[df3['Номер филиала'] == i].index
    print(df3.loc[ids, df3.columns[1:]].sum())
    df3.loc[ids[0], df3.columns[1:]] = df3.loc[ids, df3.columns[1:]].sum()
    try:
        df3 = df3.drop([ids[1]])
    except:
        pass

4 Index([0, 1], dtype='int64')
Количество товаров в чеке          1324811
Выручка, тг с НДС            1129610584.89
Выручка, тг без НДС          1008570720.08
Количество чеков                    169503
dtype: object
96 Index([2, 3], dtype='int64')
Количество товаров в чеке          1467812
Выручка, тг с НДС            1339464146.76
Выручка, тг без НДС          1195942150.23
Количество чеков                    185308
dtype: object
102 Index([4, 5], dtype='int64')
Количество товаров в чеке          300259
Выручка, тг с НДС            240077375.00
Выручка, тг без НДС          214353949.81
Количество чеков                    58213
dtype: object
105 Index([6, 7], dtype='int64')
Количество товаров в чеке          712262
Выручка, тг с НДС            578917761.74
Выручка, тг без НДС          516888589.54
Количество чеков                   104683
dtype: object
116 Index([8, 9], dtype='int64')
Количество товаров в чеке                           375356
Выручка, тг с НДС            490099440.1100000000000000000
Выручка, тг без НДС          437588555.2457142857142857143
Количество чеков                                     48852
dtype: object
140 Index([10, 11], dtype='int64')
Количество товаров в чеке          1211625
Выручка, тг с НДС            1142932063.38
Выручка, тг без НДС          1020472047.93
Количество чеков                    139051
dtype: object
197 Index([12], dtype='int64')
Количество товаров в чеке          388924
Выручка, тг с НДС            243868990.00
Выручка, тг без НДС          217738189.96
Количество чеков                    74669
dtype: object
220 Index([13, 14], dtype='int64')
Количество товаров в чеке          595280
Выручка, тг с НДС            425983454.09
Выручка, тг без НДС          380341336.82
Количество чеков                   104647
dtype: object
280 Index([15, 16], dtype='int64')
Количество товаров в чеке          1582818
Выручка, тг с НДС            1465904740.97
Выручка, тг без НДС          1308830663.63
Количество чеков                    184287
dtype: object
320 Index([17, 18], dtype='int64')
Количество товаров в чеке          501890
Выручка, тг с НДС            528181861.20
Выручка, тг без НДС          471733890.41
Количество чеков                    65641
dtype: object
360 Index([19, 20], dtype='int64')
Количество товаров в чеке           919340
Выручка, тг с НДС            1031162428.43
Выручка, тг без НДС           921490246.96
Количество чеков                    110367
dtype: object
401 Index([21, 22], dtype='int64')
Количество товаров в чеке          2042523
Выручка, тг с НДС            2050046771.75
Выручка, тг без НДС          1830409723.49
Количество чеков                    220245
dtype: object
421 Index([23], dtype='int64')
Количество товаров в чеке          536199
Выручка, тг с НДС            359689560.21
Выручка, тг без НДС          321147222.95
Количество чеков                   105957
dtype: object
441 Index([24, 25], dtype='int64')
Количество товаров в чеке          710610
Выручка, тг с НДС            585949518.00
Выручка, тг без НДС          523167270.80
Количество чеков                    89798
dtype: object
444 Index([26], dtype='int64')
Количество товаров в чеке          749859
Выручка, тг с НДС            461970085.00
Выручка, тг без НДС          412469869.71
Количество чеков                   152181
dtype: object
461 Index([27, 28], dtype='int64')
Количество товаров в чеке          338717
Выручка, тг с НДС            283178897.08
Выручка, тг без НДС          252837470.30
Количество чеков                    47075
dtype: object
501 Index([29, 30], dtype='int64')
Количество товаров в чеке          487248
Выручка, тг с НДС            357166205.90
Выручка, тг без НДС          318896966.70
Количество чеков                    82791
dtype: object
521 Index([31, 32], dtype='int64')
Количество товаров в чеке          899896
Выручка, тг с НДС            767150063.98
Выручка, тг без НДС          684959288.43
Количество чеков                   130057
dtype: object
541 Index([33, 34], dtype='int64')
Количество товаров в чеке          1188145
Выручка, тг с НДС            1041680735.64
Выручка, тг без НДС           930070953.14
Количество чеков                    159158
dtype: object
542 Index([35, 36], dtype='int64')
Количество товаров в чеке          981423
Выручка, тг с НДС            868890515.28
Выручка, тг без НДС          775792737.39
Количество чеков                   143518
dtype: object
561 Index([37], dtype='int64')
Количество товаров в чеке          434355
Выручка, тг с НДС            372940725.00
Выручка, тг без НДС          332972036.39
Количество чеков                    54313
dtype: object
601 Index([38], dtype='int64')
Количество товаров в чеке          198274
Выручка, тг с НДС            120535619.00
Выручка, тг без НДС          107619402.92
Количество чеков                    42415
dtype: object
602 Index([39], dtype='int64')
Количество товаров в чеке          340516
Выручка, тг с НДС            219490763.00
Выручка, тг без НДС          195973717.69
Количество чеков                    78570
dtype: object
631 Index([40, 41], dtype='int64')
Количество товаров в чеке          459812
Выручка, тг с НДС            272686223.00
Выручка, тг без НДС          243469062.88
Количество чеков                   118903
dtype: object
632 Index([42], dtype='int64')
Количество товаров в чеке          281301
Выручка, тг с НДС            199248132.00
Выручка, тг без НДС          177899159.88
Количество чеков                    59191
dtype: object
633 Index([43, 44], dtype='int64')
Количество товаров в чеке          350260
Выручка, тг с НДС            271927909.81
Выручка, тг без НДС          242791650.24
Количество чеков                    59357
dtype: object
634 Index([45], dtype='int64')
Количество товаров в чеке          381265
Выручка, тг с НДС            257026934.00
Выручка, тг без НДС          229486528.54
Количество чеков                    71912
dtype: object
635 Index([46], dtype='int64')
Количество товаров в чеке         166620
Выручка, тг с НДС            99129694.00
Выручка, тг без НДС          88513682.14
Количество чеков                   47784
dtype: object
641 Index([47, 48], dtype='int64')
Количество товаров в чеке          422229
Выручка, тг с НДС            395913775.77
Выручка, тг без НДС          353493875.15
Количество чеков                    67531
dtype: object
681 Index([49, 50], dtype='int64')
Количество товаров в чеке          618084
Выручка, тг с НДС            444181766.99
Выручка, тг без НДС          396592755.84
Количество чеков                   102659
dtype: object
701 Index([51, 52], dtype='int64')
Количество товаров в чеке          730437
Выручка, тг с НДС            603645269.43
Выручка, тг без НДС          538973324.74
Количество чеков                   118105
dtype: object
721 Index([53], dtype='int64')
Количество товаров в чеке          562049
Выручка, тг с НДС            402899884.00
Выручка, тг без НДС          359729436.58
Количество чеков                    92146
dtype: object
725 Index([54, 55], dtype='int64')
Количество товаров в чеке          855070
Выручка, тг с НДС            626126411.91
Выручка, тг без НДС          559039234.07
Количество чеков                   153715
dtype: object
767 Index([56], dtype='int64')
Количество товаров в чеке          325225
Выручка, тг с НДС            209289653.00
Выручка, тг без НДС          186864255.74
Количество чеков                    70146
dtype: object
785 Index([57], dtype='int64')
Количество товаров в чеке          154805
Выручка, тг с НДС            126097088.00
Выручка, тг без НДС          112586500.76
Количество чеков                    27383
dtype: object
805 Index([58], dtype='int64')
Количество товаров в чеке          252913
Выручка, тг с НДС            173235790.00
Выручка, тг без НДС          154675533.59
Количество чеков                    51056
dtype: object
832 Index([59], dtype='int64')
Количество товаров в чеке          313785
Выручка, тг с НДС            212616520.00
Выручка, тг без НДС          189836032.20
Количество чеков                    62073
dtype: object
845 Index([60], dtype='int64')
Количество товаров в чеке          505847
Выручка, тг с НДС            323125603.00
Выручка, тг без НДС          288504056.35
Количество чеков                   126891
dtype: object
849 Index([61, 62], dtype='int64')
Количество товаров в чеке          548422
Выручка, тг с НДС            392709658.01
Выручка, тг без НДС          350634800.78
Количество чеков                    99882
dtype: object
852 Index([63, 64], dtype='int64')
Количество товаров в чеке          859500
Выручка, тг с НДС            648858465.12
Выручка, тг без НДС          579322522.85
Количество чеков                   162969
dtype: object
866 Index([65], dtype='int64')
Количество товаров в чеке          280222
Выручка, тг с НДС            158125040.00
Выручка, тг без НДС          141182133.35
Количество чеков                    70340
dtype: object
885 Index([66], dtype='int64')
Количество товаров в чеке          184542
Выручка, тг с НДС            120933257.00
Выручка, тг без НДС          107976071.41
Количество чеков                    47336
dtype: object
889 Index([67], dtype='int64')
Количество товаров в чеке          248749
Выручка, тг с НДС            145716758.00
Выручка, тг без НДС          130104040.30
Количество чеков                    58294
dtype: object
893 Index([68], dtype='int64')
Количество товаров в чеке          198082
Выручка, тг с НДС            118196079.00
Выручка, тг без НДС          105532077.89
Количество чеков                    41953
dtype: object
897 Index([69], dtype='int64')
Количество товаров в чеке          240371
Выручка, тг с НДС            153269827.00
Выручка, тг без НДС          136847864.51
Количество чеков                    60958
dtype: object
901 Index([70], dtype='int64')
Количество товаров в чеке          212854
Выручка, тг с НДС            121138360.00
Выручка, тг без НДС          108159026.71
Количество чеков                    55517
dtype: object
925 Index([71, 72], dtype='int64')
Количество товаров в чеке          426707
Выручка, тг с НДС            279397632.44
Выручка, тг без НДС          249461660.21
Количество чеков                   107075
dtype: object
945 Index([73], dtype='int64')
Количество товаров в чеке          374941
Выручка, тг с НДС            241530535.00
Выручка, тг без НДС          215650894.32
Количество чеков                    78309
dtype: object
949 Index([74], dtype='int64')
Количество товаров в чеке          313800
Выручка, тг с НДС            181200036.00
Выручка, тг без НДС          161784673.05
Количество чеков                    76248
dtype: object
953 Index([75, 76], dtype='int64')
Количество товаров в чеке          267126
Выручка, тг с НДС            159695588.25
Выручка, тг без НДС          142583951.51
Количество чеков                    56149
dtype: object
957 Index([77], dtype='int64')
Количество товаров в чеке          365733
Выручка, тг с НДС            227472328.00
Выручка, тг без НДС          203099035.02
Количество чеков                    78339
dtype: object
961 Index([78], dtype='int64')
Количество товаров в чеке          374313
Выручка, тг с НДС            254272098.00
Выручка, тг без НДС          227027580.84
Количество чеков                    88153
dtype: object
965 Index([79, 80], dtype='int64')
Количество товаров в чеке          183512
Выручка, тг с НДС            116895767.45
Выручка, тг без НДС          104371040.20
Количество чеков                    43237
dtype: object
969 Index([81], dtype='int64')
Количество товаров в чеке          645845
Выручка, тг с НДС            451276096.00
Выручка, тг без НДС          402923432.45
Количество чеков                   128327
dtype: object
985 Index([82], dtype='int64')
Количество товаров в чеке          400582
Выручка, тг с НДС            270240982.00
Выручка, тг без НДС          241285043.24
Количество чеков                    81410
dtype: object
989 Index([83], dtype='int64')
Количество товаров в чеке          244564
Выручка, тг с НДС            149506580.00
Выручка, тг без НДС          133486985.61
Количество чеков                    52504
dtype: object
993 Index([84], dtype='int64')
Количество товаров в чеке          536166
Выручка, тг с НДС            306987235.00
Выручка, тг без НДС          274093851.62
Количество чеков                   117531
dtype: object
1005 Index([85], dtype='int64')
Количество товаров в чеке          178269
Выручка, тг с НДС            106188566.00
Выручка, тг без НДС           94811874.48
Количество чеков                    42854
dtype: object
1009 Index([86], dtype='int64')
Количество товаров в чеке         130623
Выручка, тг с НДС            74960008.00
Выручка, тг без НДС          66928861.40
Количество чеков                   35953
dtype: object
1025 Index([87], dtype='int64')
Количество товаров в чеке          234683
Выручка, тг с НДС            144975675.00
Выручка, тг без НДС          129442407.76
Количество чеков                    56654
dtype: object
1029 Index([88], dtype='int64')
Количество товаров в чеке          198689
Выручка, тг с НДС            117499036.13
Выручка, тг без НДС          104910384.00
Количество чеков                    46538
dtype: object
1033 Index([89], dtype='int64')
Количество товаров в чеке          240978
Выручка, тг с НДС            153751464.27
Выручка, тг без НДС          137277537.65
Количество чеков                    49593
dtype: object
1069 Index([90], dtype='int64')
Количество товаров в чеке          310560
Выручка, тг с НДС            182474030.00
Выручка, тг без НДС          162923454.91
Количество чеков                    74804
dtype: object
1105 Index([91, 92], dtype='int64')
Количество товаров в чеке          1709750
Выручка, тг с НДС            1563123732.01
Выручка, тг без НДС          1395647386.96
Количество чеков                    211155
dtype: object
1135 Index([93], dtype='int64')
Количество товаров в чеке          457654
Выручка, тг с НДС            268093790.00
Выручка, тг без НДС          239368481.81
Количество чеков                   102059
dtype: object
1136 Index([94], dtype='int64')
Количество товаров в чеке          219626
Выручка, тг с НДС            132654615.00
Выручка, тг без НДС          118440872.85
Количество чеков                    69725
dtype: object
1137 Index([95, 96], dtype='int64')
Количество товаров в чеке          464169
Выручка, тг с НДС            264362662.00
Выручка, тг без НДС          236042384.94
Количество чеков                   113499
dtype: object
1138 Index([97], dtype='int64')
Количество товаров в чеке          282702
Выручка, тг с НДС            190643288.00
Выручка, тг без НДС          170216045.45
Количество чеков                    61178
dtype: object
1146 Index([98], dtype='int64')
Количество товаров в чеке          307014
Выручка, тг с НДС            198411650.00
Выручка, тг без НДС          177152984.52
Количество чеков                    84747
dtype: object
1151 Index([99], dtype='int64')
Количество товаров в чеке         147486
Выручка, тг с НДС            89433059.00
Выручка, тг без НДС          79850875.82
Количество чеков                   38623
dtype: object
1152 Index([100], dtype='int64')
Количество товаров в чеке          192948
Выручка, тг с НДС            134383266.00
Выручка, тг без НДС          119984367.83
Количество чеков                    39470
dtype: object
1165 Index([101], dtype='int64')
Количество товаров в чеке             67
Выручка, тг с НДС            23236000.00
Выручка, тг без НДС          20746428.58
Количество чеков                      34
dtype: object
1187 Index([102], dtype='int64')
Количество товаров в чеке         134165
Выручка, тг с НДС            83516741.00
Выручка, тг без НДС          74571941.94
Количество чеков                   27015
dtype: object
1205 Index([103, 104], dtype='int64')
Количество товаров в чеке          186692
Выручка, тг с НДС            145712297.92
Выручка, тг без НДС          130100118.88
Количество чеков                    36883
dtype: object
1208 Index([105], dtype='int64')
Количество товаров в чеке          279027
Выручка, тг с НДС            161966780.00
Выручка, тг без НДС          144613558.60
Количество чеков                    71496
dtype: object
1373 Index([106], dtype='int64')
Количество товаров в чеке         147168
Выручка, тг с НДС            89363488.00
Выручка, тг без НДС          79788617.76
Количество чеков                   34146
dtype: object
1375 Index([107], dtype='int64')
Количество товаров в чеке          259571
Выручка, тг с НДС            195963269.00
Выручка, тг без НДС          174965962.17
Количество чеков                    43541
dtype: object
1412 Index([108], dtype='int64')
Количество товаров в чеке         119440
Выручка, тг с НДС            71678120.00
Выручка, тг без НДС          63997933.98
Количество чеков                   32297
dtype: object
1432 Index([109], dtype='int64')
Количество товаров в чеке         123842
Выручка, тг с НДС            71925132.00
Выручка, тг без НДС          64219311.50
Количество чеков                   28942
dtype: object
1435 Index([110], dtype='int64')
Количество товаров в чеке          83114
Выручка, тг с НДС            56839392.00
Выручка, тг без НДС          50749644.82
Количество чеков                   21543
dtype: object
1439 Index([111], dtype='int64')
Количество товаров в чеке          205763
Выручка, тг с НДС            157821244.00
Выручка, тг без НДС          140913248.26
Количество чеков                    35724
dtype: object
1452 Index([112], dtype='int64')
Количество товаров в чеке          428573
Выручка, тг с НДС            270694509.00
Выручка, тг без НДС          241692947.46
Количество чеков                    98132
dtype: object
1552 Index([113], dtype='int64')
Количество товаров в чеке          309192
Выручка, тг с НДС            185339601.00
Выручка, тг без НДС          165483534.59
Количество чеков                    74011
dtype: object
1555 Index([114], dtype='int64')
Количество товаров в чеке          198089
Выручка, тг с НДС            114685621.00
Выручка, тг без НДС          102396918.47
Количество чеков                    51198
dtype: object
1556 Index([115], dtype='int64')
Количество товаров в чеке          82859
Выручка, тг с НДС            47839739.00
Выручка, тг без НДС          42714276.46
Количество чеков                   30319
dtype: object
1557 Index([116, 117], dtype='int64')
Количество товаров в чеке          565731
Выручка, тг с НДС            439583672.46
Выручка, тг без НДС          392484774.04
Количество чеков                    90133
dtype: object
1565 Index([118], dtype='int64')
Количество товаров в чеке         102842
Выручка, тг с НДС            77818748.00
Выручка, тг без НДС          69480704.21
Количество чеков                   21459
dtype: object
1568 Index([119], dtype='int64')
Количество товаров в чеке          96233
Выручка, тг с НДС            65952533.00
Выручка, тг без НДС          58886691.63
Количество чеков                   21123
dtype: object
1571 Index([120], dtype='int64')
Количество товаров в чеке          457491
Выручка, тг с НДС            282173394.00
Выручка, тг без НДС          251937771.60
Количество чеков                    93983
dtype: object
1574 Index([121], dtype='int64')
Количество товаров в чеке          174222
Выручка, тг с НДС            115479597.00
Выручка, тг без НДС          103106383.18
Количество чеков                    32693
dtype: object
1578 Index([122, 123], dtype='int64')
Количество товаров в чеке          668613
Выручка, тг с НДС            373588166.00
Выручка, тг без НДС          333565727.38
Количество чеков                   184103
dtype: object
1581 Index([124], dtype='int64')
Количество товаров в чеке          80860
Выручка, тг с НДС            53507383.00
Выручка, тг без НДС          47774302.66
Количество чеков                   16501
dtype: object
1584 Index([125], dtype='int64')
Количество товаров в чеке          205343
Выручка, тг с НДС            149598684.00
Выручка, тг без НДС          133570063.71

In [33]:
df3 = df3.reset_index()
df3 = df3.drop(['index'], axis=1)
df3

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,1324811,1129610584.89,1008570720.08,169503
1,96,1467812,1339464146.76,1195942150.23,185308
2,102,300259,240077375.00,214353949.81,58213
3,105,712262,578917761.74,516888589.54,104683
4,116,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...
242,2889,22454,13032280.00,11635858.71,6966
243,2970,2,0.00,0.00,2
244,2975,33592,20023547.00,17877998.41,10315
245,2989,44,1098237.00,980568.75,2
246,3012,29725,19071426.00,17027953.64,10324

In [34]:
for i in df3['Номер филиала']:
    print(i, end=', ')

4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1165, 1187, 1205, 1208, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1615, 1638, 1698, 1718, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1883, 1886, 1898, 1907, 1910, 1913, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2024, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2433, 2436, 2439, 2501, 2521, 2524, 2541, 2563, 2582, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2751, 2763, 2781, 2785, 2801, 2810, 2829, 2849, 2869, 2889, 2970, 2975, 2989, 3012,

In [35]:
inds = []
not_inds = []
for i in range(len(df1)):
    if df1.iloc[i].equals(df2.iloc[i]):
        inds.append(i)
    else:
        not_inds.append(i)

In [43]:
len(df3)

247

In [44]:
# inds1 = []
# not_inds1 = []
# for i in range(len(df)):
#     print(i)
#     try:
#         if df.iloc[i].equals(df3.iloc[i]):
#             inds1.append(i)
#         else:
#             not_inds1.append(i)
#     except:
#         print(df.iloc[i], df3.iloc[i])

In [45]:
df3

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,1324811,1129610584.89,1008570720.08,169503
1,96,1467812,1339464146.76,1195942150.23,185308
2,102,300259,240077375.00,214353949.81,58213
3,105,712262,578917761.74,516888589.54,104683
4,116,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...
242,2889,22454,13032280.00,11635858.71,6966
243,2970,2,0.00,0.00,2
244,2975,33592,20023547.00,17877998.41,10315
245,2989,44,1098237.00,980568.75,2
246,3012,29725,19071426.00,17027953.64,10324

In [ ]:
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0], dtype='int64')
Количество товаров в чеке                                                  11783
Выручка, тг с НДС                                                     7525031.00
Выручка, тг без НДС                                                   6718734.66
Количество чеков                                                            2589
Оборот, тг с НДС               82133802811.8219999545656379960000000000000000...
Оборот, тг без НДС             73347493095.2100944447412386556031746031742836...
Себестоимость                  57494025081.6455697745459859511759702966979874...
Бухгалтерская себестоимость    51343569435.7603851262871592390984197815968943...
dtype: object
Index([1, 2], dtype='int64')
Количество товаров в чеке                          132801427
Выручка, тг с НДС              82365149978.53000000008417696
Выручка, тг без НДС            73521297372.96154761912279914
Количество чеков                                    13344863
Оборот, тг с НДС               570533416.5163632132542774494
Оборот, тг без НДС             509670097.9197026042332769136
Себестоимость                  547488537.4228951136897313918
Бухгалтерская себестоимость    492667079.0419337098365557173
dtype: object

In [ ]:
df2.loc[[1, 2], df2.columns[1:]].sum()

Количество товаров в чеке                          132875366
Выручка, тг с НДС              82596248661.23000000016835392
Выручка, тг без НДС            73727900744.35309523824559828
Количество чеков                                    13348164
Оборот, тг с НДС               578058850.0393632132343045094
Оборот, тг без НДС             516389234.9938097469773039315
Себестоимость                  554449338.2460351552897313918
Бухгалтерская себестоимость    498882079.7768801754627076399
dtype: object

In [ ]:
pd.concat([df, df1], axis=1, join="inner")

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,985,11783,7525031.00,6718734.66,2589,82133802811.8219999545656379960000000000000000...,73347493095.2100944447412386556031746031742836...,57494025081.6455697745459859511759702966979874...,51343569435.7603851262871592390984197815968943...
1,4,132727488,82134051295.83,73314694001.57,13341562,563007982.993363213274250389408395786066240549...,502950960.845595461489249895701940682003587788...,540527736.599755072089731391755183500350775607...,486452078.306987244210403794698508562867111343...
2,4,73939,231098682.700000000084176960000000000000000067...,206603371.391547619122799142857142857142857202...,3301,7525433.52299999998002706000000000000000000000...,6719137.07410714274402701785714285714285733855...,6960800.82314004159999999999999999999999999200...,6215000.73494646562615192260393837401195928088...

In [46]:
for i in df3['Номер филиала']:
    print(i, end=', ')

4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1165, 1187, 1205, 1208, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1615, 1638, 1698, 1718, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1883, 1886, 1898, 1907, 1910, 1913, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2024, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2433, 2436, 2439, 2501, 2521, 2524, 2541, 2563, 2582, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2751, 2763, 2781, 2785, 2801, 2810, 2829, 2849, 2869, 2889, 2970, 2975, 2989, 3012,

In [47]:
s = [4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1065, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1187, 1205, 1208, 1332, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1612, 1615, 1638, 1698, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1879, 1883, 1898, 1907, 1910, 1913, 1918, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2019, 2024, 2026, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2066, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2424, 2433, 2436, 2439, 2442, 2445, 2482, 2485, 2488, 2491, 2494, 2521, 2524, 2541, 2563, 2583, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2748, 2751, 2763, 2766, 2781, 2785, 2801, 2809, 2810, 2829, 2832, 2849, 2889, 2970, 2975, 2989, 3012, 3033]
s1 = [4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1165, 1187, 1205, 1208, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1615, 1638, 1698, 1718, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1883, 1886, 1898, 1907, 1910, 1913, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2024, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2433, 2436, 2439, 2501, 2521, 2524, 2541, 2563, 2582, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2751, 2763, 2781, 2785, 2801, 2810, 2829, 2849, 2869, 2889, 2970, 2975, 2989, 3012]
len(s)

263

In [64]:
for i in s:
    print(i)

4
96
102
105
116
140
197
220
280
320
360
401
421
441
444
461
501
521
541
542
561
601
602
631
632
633
634
635
641
681
701
721
725
767
785
805
832
845
849
852
866
885
889
893
897
901
925
945
949
953
957
961
965
969
985
989
993
1005
1009
1025
1029
1033
1065
1069
1105
1135
1136
1137
1138
1146
1151
1152
1187
1205
1208
1332
1373
1375
1412
1432
1435
1439
1452
1552
1555
1556
1557
1565
1568
1571
1574
1578
1581
1584
1592
1595
1612
1615
1638
1698
1738
1778
1782
1798
1818
1838
1841
1858
1861
1864
1867
1870
1879
1883
1898
1907
1910
1913
1918
1938
1941
1944
1947
1950
1955
1956
1959
1960
1963
1966
1970
1975
1979
1980
1998
2018
2019
2024
2026
2027
2029
2032
2041
2044
2047
2050
2059
2061
2065
2066
2071
2074
2078
2081
2083
2087
2091
2098
2099
2104
2110
2118
2121
2124
2127
2138
2141
2142
2147
2150
2151
2152
2155
2158
2161
2162
2167
2181
2182
2183
2184
2193
2196
2241
2261
2262
2281
2290
2294
2299
2300
2303
2304
2305
2306
2315
2320
2323
2326
2341
2344
2347
2350
2353
2361
2364
2367
2381
2382
2383
2384
2401
2402
2403
2412
2421
2422
2423
2424
2433
2436
2439
2442
2445
2482
2485
2488
2491
2494
2521
2524
2541
2563
2583
2601
2604
2641
2643
2655
2661
2684
2702
2723
2741
2745
2748
2751
2763
2766
2781
2785
2801
2809
2810
2829
2832
2849
2889
2970
2975
2989
3012
3033

In [48]:
import numpy as np
len(np.unique(np.asarray(s)))

263

In [50]:
s = np.asarray(s)
s1 = np.asarray(s1)
print(np.setdiff1d(s1, s))

[1165 1718 1886 2501 2582 2869]

In [51]:
len(df3)

247