In [55]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-04-30'
end_date = '2023-05-31'
store_id = '985'

query = f"""
select qfo.source_store_id,
	   ds.store_name,
       sum(qfo.cnt_wares_pos_detail)                                                             as "Кол-во товаров в чеках", -- "Количество товаров в чеке"
       sum(qfo.order_sum_with_vat)                                                               as "Выручка, тг с НДС",
       sum(qfo.order_sum_without_vat)                                                            as "Выручка, тг без НДС",
       sum(qfo.is_sale_order)                                                                    as "Количество чеков"
from dwh_data.qs_fact_order qfo
left join dwh_data.dim_store ds on ds.source_store_id = qfo.source_store_id and current_date between ds.datestart and ds.dateend
where date(qfo.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
        and qfo."source_store_id"::int > 0 and ds."store_name" like '%Торговый%'
group by qfo.source_store_id, ds.store_name
     union all
select   qfog.source_store_id,
	   ds.store_name,
         sum(qfog.count_wares)                            as quantity,
         sum(qfog.sum_sale_vat)                           as order_sum_with_vat,
         sum(qfog.sum_sale_no_vat)                        as order_sum_without_vat,
         sum(qfog.is_sale_order)                          as sale_order_cnt
from dwh_data.qs_fact_order_gross qfog
left join dwh_data.dim_store ds on ds.source_store_id = qfog.source_store_id and current_date between ds.datestart and ds.dateend
where date(qfog.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
      and qfog."source_store_id"::int > 0 and ds."store_name" like '%Торговый%'
group by qfog.source_store_id, ds.store_name
order by source_store_id;
"""

cur.execute(query)

print('Executed')

df = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [56]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-05-01'
end_date = '2023-06-15'
store_id = '985'

query = f"""

SELECT
      q.source_store_id::int                                                                    as source_store_id,
      Sum(q."sum_order_wares_vat_nr")                                                           as "Оборот, тг с НДС",
      Sum(q."sum_order_wares_without_vat_nr")                                                   as "Оборот, тг без НДС",
      Sum(q."cost_price_base_t")                                                                as "Себестоимость",
      Sum(q."cost_price_base_t") - Sum(q."cost_price_base_t") *
         (Sum(q."sum_order_wares_vat_nr") - Sum(q."sum_order_wares_without_vat_nr"))
         / decode(Sum(q."sum_order_wares_vat_nr"), 0, null, Sum(q."sum_order_wares_vat_nr"))    as "Бухгалтерская себестоимость"
   FROM "dwh_data"."qs_fact_sales" q
   left join dwh_data.dim_store ds on ds.source_store_id = q.source_store_id and current_date between ds.datestart and ds.dateend
   WHERE date(q.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
    and q."source_store_id"::int > 0  and ds."store_name" like '%Торговый%'
   GROUP BY
      q."source_store_id"
 union all
    SELECT
          sa.source_store_id::int                          as source_store_id,
          Sum("sum_sale")                                  as sum_order_with_vat,
          Sum(sa."sum_sale_no_vat")                        as sum_order_without_vat,
          Sum("sum_coming")                                as cost_price_with_vat ,
          Sum(sa."sum_coming_no_vat")                      as cost_price_without_vat
    FROM "dwh_data"."qs_fact_sales_gross" sa
    left join dwh_data.dim_store ds on ds.source_store_id = sa.source_store_id and current_date between ds.datestart and ds.dateend
    where date(sa.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
   and sa.source_store_id::int > 0  and ds."store_name" like '%Торговый%'
    GROUP BY
        sa.source_store_id
    order by source_store_id;
"""

cur.execute(query)

print('Executed')

df1 = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [62]:
df.columns = ["Номер филиала", "Название филиала", "Количество товаров в чеке", "Выручка, тг с НДС", "Выручка, тг без НДС", "Количество чеков"]
df

,Номер филиала,Название филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1161,6267009.92,5595544.58,47
1,4,Торговый зал АФ №1,1323651,1123343574.97,1002975175.50,169456
2,96,Торговый зал АФ №2,1467450,1337514658.00,1194201535.28,185292
3,96,Торговый зал АФ №2,362,1949488.76,1740614.95,16
4,102,Торговый зал АФ №3,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,29725,19071426.00,17027953.64,10324

In [63]:
df1.columns = ["Номер филиала", "Оборот, тг с НДС", "Оборот, тг без НДС", "Себестоимость", "Бухгалтерская себестоимость"]
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,6267009.82700000000000000000000000000000038632...,5595544.48839285714285714285714285714285748778...,5925228.29737828362999639185813501223828917862...,5301183.48048092068201660021360733690452145148...
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669822...,920244772.885994759307399892562363841853388932...
2,96,1337552567.60500000022372246000000000000000000...,1194241915.85858375422253613614285714285715673...,1224889138.07348939401032913791896334478206537...,1093649690.03539375405538040957681736970528453...
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1713925.13028708407111952111557085183239692108...,1536231.93920890884921385813890254627892582240...
4,102,237337683.542000000065436400000000000000000000...,211908646.019610158697512417857142857142860075...,227213984.802565747149723711612813502818801100...,202869629.287973827642835492024236438820882402...
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...
280,2970,0E-42,0E-42,0E-42,None
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...

In [64]:
df2 = df1.copy()
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0, 1], dtype='int64')
Оборот, тг с НДС               1129646973.640999999738639700
Оборот, тг без НДС             1008607093.725427746801051275
Себестоимость                  1036605822.604656972674440610
Бухгалтерская себестоимость    925545956.3664756799894164928
dtype: object
Index([2, 3], dtype='int64')
Оборот, тг с НДС               1339502056.353000000223722460
Оборот, тг без НДС             1195982530.812155182793964708
Себестоимость                  1226603063.203776478081448659
Бухгалтерская себестоимость    1095185921.974602662904594268
dtype: object
Index([4, 5], dtype='int64')
Оборот, тг с НДС               240085507.5420000000654364000
Оборот, тг без НДС             214362060.3053244444117981321
Себестоимость                  229709513.5536203471497237116
Бухгалтерская себестоимость    205101425.3695876276428354920
dtype: object
Index([6, 7], dtype='int64')
Оборот, тг с НДС               578929044.2019999998617525300
Оборот, тг без НДС             516899921.4045888748025048478
Себестоимость                  537354539.5527312199941891141
Бухгалтерская себестоимость    479786066.7917906438582291571
dtype: object
Index([8, 9], dtype='int64')
Оборот, тг с НДС               490101131.4837000005979525100
Оборот, тг без НДС             437708737.3946928404883147482
Себестоимость                  478358695.8100691511677571746
Бухгалтерская себестоимость    427221655.2541790727437284717
dtype: object
Index([10, 11], dtype='int64')
Оборот, тг с НДС               1142960374.138000000010600280
Оборот, тг без НДС             1020500327.301616835987386990
Себестоимость                  1061229761.161173844203929076
Бухгалтерская себестоимость    947541564.4781919562427655121
dtype: object
Index([12], dtype='int64')
Оборот, тг с НДС               243882001.752000000589445360000000000000000000...
Оборот, тг без НДС             217751197.238540355663464493714285714285721760...
Себестоимость                  224243208.692895499199999999999999999999999977...
Бухгалтерская себестоимость    200216608.092070581707989592893947965176457294...
dtype: object
Index([13, 14], dtype='int64')
Оборот, тг с НДС               426000020.4560000002546196000
Оборот, тг без НДС             380357872.1213879113213175421
Себестоимость                  390758795.2917245084477312087
Бухгалтерская себестоимость    348898553.9581437248438013565
dtype: object
Index([15, 16], dtype='int64')
Оборот, тг с НДС               1465934543.555999999591525760
Оборот, тг без НДС             1308861854.282041338854752967
Себестоимость                  1382204199.913558670064371524
Бухгалтерская себестоимость    1234106404.154667579878911020
dtype: object
Index([17, 18], dtype='int64')
Оборот, тг с НДС               528189316.7809999998734137600
Оборот, тг без НДС             472487531.5115084104135845714
Себестоимость                  530022701.7646023937607497835
Бухгалтерская себестоимость    474144826.2448678430020042100
dtype: object
Index([19, 20], dtype='int64')
Оборот, тг с НДС               1031178778.508000000406028080
Оборот, тг без НДС             921506599.9463189515583064037
Себестоимость                  989170276.2333720261684086685
Бухгалтерская себестоимость    884005357.7371462068330483620
dtype: object
Index([21, 22], dtype='int64')
Оборот, тг с НДС               2050079929.188800000001783480
Оборот, тг без НДС             1830442670.232344804763025299
Себестоимость                  1895393248.143628087547950819
Бухгалтерская себестоимость    1692334075.921738026611884503
dtype: object
Index([23], dtype='int64')
Оборот, тг с НДС               359708142.243000000175146080000000000000000000...
Оборот, тг без НДС             321167073.368502428424411832857142857142869543...
Себестоимость                  324844780.158311156208629450858845868690999142...
Бухгалтерская себестоимость    290039159.780819876839386916360901501458385706...
dtype: object
Index([24, 25], dtype='int64')
Оборот, тг с НДС               585970556.0140000004432072800
Оборот, тг без НДС             523187996.4410062239575274757
Себестоимость                  535279429.8256258422587649442
Бухгалтерская себестоимость    477928062.3442492340345977832
dtype: object
Index([26], dtype='int64')
Оборот, тг с НДС               461987854.048000000220158240000000000000000000...
Оборот, тг без НДС             412487843.971372016415569162285714285714288073...
Себестоимость                  417205023.473518494214590578506528676543452358...
Бухгалтерская себестоимость    372503300.939026716668352102979888811051376783...
dtype: object
Index([27, 28], dtype='int64')
Оборот, тг с НДС               283184093.0859999998439575200
Оборот, тг без НДС             252842665.3181745027014102271
Себестоимость                  265269399.2490538401225672416
Бухгалтерская себестоимость    236847420.3585384316310276343
dtype: object
Index([29, 30], dtype='int64')
Оборот, тг с НДС               357179966.5150000005177545700
Оборот, тг без НДС             318910684.3883437078630982589
Себестоимость                  323914854.9190963436674442303
Бухгалтерская себестоимость    289210482.0803531526666043968
dtype: object
Index([31, 32], dtype='int64')
Оборот, тг с НДС               767174062.4840000000428895000
Оборот, тг без НДС             685084052.7177661960622113770
Себестоимость                  735036355.9810359004057563232
Бухгалтерская себестоимость    656394663.4816104232053810717
dtype: object
Index([33, 34], dtype='int64')
Оборот, тг с НДС               1041684558.813999998157165660
Оборот, тг без НДС             930074982.4951241027489550861
Себестоимость                  967947895.1823332145821592672
Бухгалтерская себестоимость    864244399.7782458402564147279
dtype: object
Index([35, 36], dtype='int64')
Оборот, тг с НДС               868847508.7690000000852176800
Оборот, тг без НДС             775886928.3820884019142194054
Себестоимость                  821633496.5763953243553500291
Бухгалтерская себестоимость    733734139.6028752321952253002
dtype: object
Index([37], dtype='int64')
Оборот, тг с НДС               372953702.712549998531510670000000000000000000...
Оборот, тг без НДС             332989052.661882383312616196071428571428585386...
Себестоимость                  346875371.845587878186023577530467177045355283...
Бухгалтерская себестоимость    309705201.000847164807357988553212460310102570...
dtype: object
Index([38], dtype='int64')
Оборот, тг с НДС               120543057.056999999991562150000000000000000000...
Оборот, тг без НДС             107627069.198020184355481124785714285714292048...
Себестоимость                  109152033.967052892285368133689955078039884885...
Бухгалтерская себестоимость    97456575.2660613747686460356831929655559415539...
dtype: object
Index([39], dtype='int64')
Оборот, тг с НДС               219500712.604000000030898600000000000000000000...
Оборот, тг без НДС             195983665.893518903239161168000000000000006091...
Себестоимость                  197283151.480321567340397255089055256555407523...
Бухгалтерская себестоимость    176146467.988438026632543821263030569699338116...
dtype: object
Index([40, 41], dtype='int64')
Оборот, тг с НДС               272693140.0150000001682208000
Оборот, тг без НДС             243475926.3533679012053017471
Себестоимость                  243594309.3019892799703329192
Бухгалтерская себестоимость    217494837.2681803255984690079
dtype: object
Index([42], dtype='int64')
Оборот, тг с НДС               199256990.791999999891673640000000000000000000...
Оборот, тг без НДС             177908015.419969918765899009714285714285713205...
Себестоимость                  182760280.801906301590860024325107240902391122...
Бухгалтерская себестоимость    163178811.071199862365265110718544586590158422...
dtype: object
Index([43, 44], dtype='int64')
Оборот, тг с НДС               271938428.2980000000751560000
Оборот, тг без НДС             242802168.1231859589943881900
Себестоимость                  253468281.4482049937300413464
Бухгалтерская себестоимость    226311029.9533968195631241109
dtype: object
Index([45], dtype='int64')
Оборот, тг с НДС               257039561.813000000093772680000000000000000000...
Оборот, тг без НДС             229499215.487271509048897674571428571428584243...
Себестоимость                  235418607.200854343056417108832588377037612530...
Бухгалтерская себестоимость    210194824.806807876792526406416987916588919739...
dtype: object
Index([46], dtype='int64')
Оборот, тг с НДС               99135106.3500000000095614800000000000000000000...
Оборот, тг без НДС             88519090.3124871978351538011428571428571413300...
Себестоимость                  90720638.5920445241172289193240052192754789141...
Бухгалтерская себестоимость    81005697.1380421649490602368231386688603772617...
dtype: object
Index([47, 48], dtype='int64')
Оборот, тг с НДС               395921025.1569999999893141100
Оборот, тг без НДС             353501123.8572202383734413839
Себестоимость                  381691402.5893787302116956065
Бухгалтерская себестоимость    340807721.1619725052839246384
dtype: object
Index([49, 50], dtype='int64')
Оборот, тг с НДС               444198307.6900000000000000000
Оборот, тг без НДС             396609302.5802679264653178426
Себестоимость                  422522698.7735767705757690675
Бухгалтерская себестоимость    377256494.3574496890503993325
dtype: object
Index([51, 52], dtype='int64')
Оборот, тг с НДС               603661762.3499999999600576400
Оборот, тг без НДС             538989965.4119208586164816100
Себестоимость                  543261220.9357729072369343788
Бухгалтерская себестоимость    485060662.7454951315790840936
dtype: object
Index([53], dtype='int64')
Оборот, тг с НДС               402916664.995825590679635960000000000000000000...
Оборот, тг без НДС             359746317.720511040403784209571428571428586204...
Себестоимость                  395757703.426832074703598347444935864186827952...
Бухгалтерская себестоимость    353354400.267370321845176550217727654286944428...
dtype: object
Index([54, 55], dtype='int64')
Оборот, тг с НДС               626146152.8980000001745731320
Оборот, тг без НДС             559058964.3645997054243731287
Себестоимость                  578785711.4158255320471045770
Бухгалтерская себестоимость    516776387.6490078276955571782
dtype: object
Index([56], dtype='int64')
Оборот, тг с НДС               209299817.724999999914606650000000000000000000...
Оборот, тг без НДС             186874532.925848580993499071785714285714289825...
Себестоимость                  191911511.429323066662821997261530947411529204...
Бухгалтерская себестоимость    171349284.730717983749778691222024493081591754...
dtype: object
Index([57], dtype='int64')
Оборот, тг с НДС               126098827.042000000161089000000000000000000000...
Оборот, тг без НДС             112588238.430337511798847861428571428571434659...
Себестоимость                  117183278.143092312890814245221027479091995177...
Бухгалтерская себестоимость    104627926.913457036146993798209278762351024319...
dtype: object
Index([58], dtype='int64')
Оборот, тг с НДС               173244726.750999999779964920000000000000000000...
Оборот, тг без НДС             154684472.491932778612559566428571428571438621...
Себестоимость                  158074780.842152641977079957213399112218977152...
Бухгалтерская себестоимость    141139730.757808610969332609164830501434023340...
dtype: object
Index([59], dtype='int64')
Оборот, тг с НДС               212617875.672999999796352800000000000000000000...
Оборот, тг без НДС             189837354.139041683389644117857142857142849551...
Себестоимость                  198509014.851706143731003030479402171400982131...
Бухгалтерская себестоимость    177240159.290054973686129896523429150581554019...
dtype: object
Index([60], dtype='int64')
Оборот, тг с НДС               323128414.991000000021197000000000000000000000...
Оборот, тг без НДС             288506874.950474944331607877428571428571417809...
Себестоимость                  293815209.511631394873484345818912138536428160...
Бухгалтерская себестоимость    262334427.974961116080645822028650408861623937...
dtype: object
Index([61, 62], dtype='int64')
Оборот, тг с НДС               392728541.4869999999058934400
Оборот, тг без НДС             350653682.9704794504646481426
Себестоимость                  354175180.6359326063274781277
Бухгалтерская себестоимость    316230725.3191212654572874347
dtype: object
Index([63, 64], dtype='int64')
Оборот, тг с НДС               648870607.7628399999094699800
Оборот, тг без НДС             579335286.4251658621563207007
Себестоимость                  649896711.3508021324521667919
Бухгалтерская себестоимость    580255719.9805356463237489105
dtype: object
Index([65], dtype='int64')
Оборот, тг с НДС               158132044.470000000073660500000000000000000000...
Оборот, тг без НДС             141189130.312483542320414432714285714285712696...
Себестоимость                  147423188.422870816146233863161300480828143106...
Бухгалтерская себестоимость    131627664.911822174728691383435302906546114096...
dtype: object
Index([66], dtype='int64')
Оборот, тг с НДС               120934018.161999999829580260000000000000000000...
Оборот, тг без НДС             107976831.231770795382323934999999999999998177...
Себестоимость                  108010796.023428743185574995691781937324845820...
Бухгалтерская себестоимость    96438236.9054172266522778766978455742564337663...
dtype: object
Index([67], dtype='int64')
Оборот, тг с НДС               145718088.454000000083288120000000000000000000...
Оборот, тг без НДС             130105367.668189562714307587142857142857139779...
Себестоимость                  134596756.336264839523024389660839683251157943...
Бухгалтерская себестоимость    120175612.073058028480682916521884123109155318...
dtype: object
Index([68], dtype='int64')
Оборот, тг с НДС               118197338.332000000044924750000000000000000000...
Оборот, тг без НДС             105533337.796417469676966238214285714285712294...
Себестоимость                  109302845.465740334885236100618335873051692017...
Бухгалтерская себестоимость    97591826.3086864612076598886921486705065310996...
dtype: object
Index([69], dtype='int64')
Оборот, тг с НДС               153271180.547999999985239740000000000000000000...
Оборот, тг без НДС             136849220.517827421242881350714285714285706512...
Себестоимость                  141613241.139508223216369570896190143407491778...
Бухгалтерская себестоимость    126440349.683844799648461432610896025197190912...
dtype: object
Index([70], dtype='int64')
Оборот, тг с НДС               121140008.180000000097903520000000000000000000...
Оборот, тг без НДС             108160680.227842725605224879999999999999993385...
Себестоимость                  111610284.428924483839291592549844977029443137...
Бухгалтерская себестоимость    99652001.5610211529772001032238088521153128835...
dtype: object
Index([71, 72], dtype='int64')
Оборот, тг с НДС               279407606.2459999997761519600
Оборот, тг без НДС             249471634.1953240989252000791
Себестоимость                  263716366.2589262018825005644
Бухгалтерская себестоимость    235462239.0846794266805549279
dtype: object
Index([73], dtype='int64')
Оборот, тг с НДС               241540675.275000000207754200000000000000000000...
Оборот, тг без НДС             215661143.432662006694013635714285714285711640...
Себестоимость                  218621113.661274662875588214040789176363979366...
Бухгалтерская себестоимость    195197265.624239935107563648290404180382920965...
dtype: object
Index([74], dtype='int64')
Оборот, тг с НДС               181212123.342000000274283120000000000000000000...
Оборот, тг без НДС             161796538.698196370430900155428571428571428215...
Себестоимость                  163211721.769676801673090224238152063391009201...
Бухгалтерская себестоимость    145724751.580052437002998460226800145908040557...
dtype: object
Index([75, 76], dtype='int64')
Оборот, тг с НДС               159705833.4650000000734805400
Оборот, тг без НДС             142594194.9376049075879390656
Себестоимость                  147766723.7907743201213343067
Бухгалтерская себестоимость    131934297.9554072604144837497
dtype: object
Index([77], dtype='int64')
Оборот, тг с НДС               227484067.439999999875023100000000000000000000...
Оборот, тг без НДС             203110774.499976869981822959857142857142858079...
Себестоимость                  204879441.244914680209278356452702931837812459...
Бухгалтерская себестоимость    182928072.540081561508886460719958226956637478...
dtype: object
Index([78], dtype='int64')
Оборот, тг с НДС               254282130.938000000107117860000000000000000000...
Оборот, тг без НДС             227037610.107479079997602852142857142857146766...
Себестоимость                  229874999.339386803317016014576442899620470072...
Бухгалтерская себестоимость    205245528.975836429924360835723011314458619321...
dtype: object
Index([79, 80], dtype='int64')
Оборот, тг с НДС               116902323.0380000000000000000
Оборот, тг без НДС             104377595.3824860797655170754
Себестоимость                  104987759.4729538438088491571
Бухгалтерская себестоимость    93739539.03517981086540459778
dtype: object
Index([81], dtype='int64')
Оборот, тг с НДС               451289893.233000000152348400000000000000000000...
Оборот, тг без НДС             402937194.925265017697953006571428571428580635...
Себестоимость                  411639605.567234234922758554277728998331297949...
Бухгалтерская себестоимость    367535170.794902275907280051688981135412920784...
dtype: object
Index([82], dtype='int64')
Оборот, тг с НДС               270255374.253000000047414640000000000000000000...
Оборот, тг без НДС             241299437.195862022925448524000000000000012521...
Себестоимость                  251067142.803726133221703164758779941784978101...
Бухгалтерская себестоимость    224167087.978786918253741529900169356679893603...
dtype: object
Index([83], dtype='int64')
Оборот, тг с НДС               149516358.054999999862938620000000000000000000...
Оборот, тг без НДС             133496761.879088654599983416428571428571430452...
Себестоимость                  137009410.012519625531988968577218853507927064...
Бухгалтерская себестоимость    122329842.845072617627460581660787946107168057...
dtype: object
Index([84], dtype='int64')
Оборот, тг с НДС               307012273.014000000069035480000000000000000000...
Оборот, тг без НДС             274118066.898185508033668378000000000000003216...
Себестоимость                  277395392.963417176954138546134431559611150284...
Бухгалтерская себестоимость    247674427.276485475399626922342286307093203232...
dtype: object
Index([85], dtype='int64')
Оборот, тг с НДС               106195759.183999999988105300000000000000000000...
Оборот, тг без НДС             94819064.1285581924009951964285714285714343107...
Себестоимость                  96119267.9685627568709635960864760634362477484...
Бухгалтерская себестоимость    85822062.0440215692759491600328886489190235553...
dtype: object
Index([86], dtype='int64')
Оборот, тг с НДС               74962074.3139999999688904200000000000000000000...
Оборот, тг без НДС             66930930.4903520067736071292857142857142874173...
Себестоимость                  68466021.8657826544000000000000000000000000023...
Бухгалтерская себестоимость    61130839.7264266698698406127884386673498887897...
dtype: object
Index([87], dtype='int64')
Оборот, тг с НДС               144977160.566000000173640280000000000000000000...
Оборот, тг без НДС             129443893.362487058550308848857142857142855034...
Себестоимость                  132864547.251846872254010127042234880179099587...
Бухгалтерская себестоимость    118629060.046279989872749556393363026513415309...
dtype: object
Index([88], dtype='int64')
Оборот, тг с НДС               117500519.355999999731259680000000000000000000...
Оборот, тг без НДС             104911868.680486774870636579999999999999993651...

In [65]:
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,6267009.82700000000000000000000000000000038632...,5595544.48839285714285714285714285714285748778...,5925228.29737828362999639185813501223828917862...,5301183.48048092068201660021360733690452145148...
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669822...,920244772.885994759307399892562363841853388932...
2,96,1337552567.60500000022372246000000000000000000...,1194241915.85858375422253613614285714285715673...,1224889138.07348939401032913791896334478206537...,1093649690.03539375405538040957681736970528453...
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1713925.13028708407111952111557085183239692108...,1536231.93920890884921385813890254627892582240...
4,102,237337683.542000000065436400000000000000000000...,211908646.019610158697512417857142857142860075...,227213984.802565747149723711612813502818801100...,202869629.287973827642835492024236438820882402...
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...
280,2970,0E-42,0E-42,0E-42,None
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...

In [66]:
df2

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669822...,920244772.885994759307399892562363841853388932...
2,96,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1713925.13028708407111952111557085183239692108...,1536231.93920890884921385813890254627892582240...
4,102,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...
280,2970,0E-42,0E-42,0E-42,0
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...

In [67]:
df2 = df2.loc[~df2['Номер филиала'].duplicated(keep='first')]

In [68]:
df2

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928
2,96,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268
4,102,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920
6,105,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571
8,116,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...
280,2970,0E-42,0E-42,0E-42,0
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...

In [69]:
len(df2)

241

In [80]:
df3 = df.copy()
for i in df3['Номер филиала'].unique():
    print(i, df3[df3['Номер филиала'] == i].index)
    ids = df3[df3['Номер филиала'] == i].index
    print(df3.loc[ids, df3.columns[2:]].sum())
    df3.loc[ids[0], df3.columns[2:]] = df3.loc[ids, df3.columns[1:]].sum()
    try:
        df3 = df3.drop([ids[1]])
    except:
        pass

4 Index([0, 1], dtype='int64')
Количество товаров в чеке          1324812
Выручка, тг с НДС            1129610584.89
Выручка, тг без НДС          1008570720.08
Количество чеков                    169503
dtype: object
96 Index([2, 3], dtype='int64')
Количество товаров в чеке          1467812
Выручка, тг с НДС            1339464146.76
Выручка, тг без НДС          1195942150.23
Количество чеков                    185308
dtype: object
102 Index([4, 5], dtype='int64')
Количество товаров в чеке          300259
Выручка, тг с НДС            240077375.00
Выручка, тг без НДС          214353949.81
Количество чеков                    58213
dtype: object
105 Index([6, 7], dtype='int64')
Количество товаров в чеке          712262
Выручка, тг с НДС            578917761.74
Выручка, тг без НДС          516888589.54
Количество чеков                   104683
dtype: object
116 Index([8, 9], dtype='int64')
Количество товаров в чеке                           375356
Выручка, тг с НДС            490099440.1100000000000000000
Выручка, тг без НДС          437588555.2457142857142857143
Количество чеков                                     48852
dtype: object
140 Index([10, 11], dtype='int64')
Количество товаров в чеке          1211625
Выручка, тг с НДС            1142932063.38
Выручка, тг без НДС          1020472047.93
Количество чеков                    139051
dtype: object
197 Index([12], dtype='int64')
Количество товаров в чеке          388924
Выручка, тг с НДС            243868990.00
Выручка, тг без НДС          217738189.96
Количество чеков                    74669
dtype: object
220 Index([13, 14], dtype='int64')
Количество товаров в чеке          595280
Выручка, тг с НДС            425983454.09
Выручка, тг без НДС          380341336.82
Количество чеков                   104647
dtype: object
280 Index([15, 16], dtype='int64')
Количество товаров в чеке          1582818
Выручка, тг с НДС            1465904740.97
Выручка, тг без НДС          1308830663.63
Количество чеков                    184287
dtype: object
320 Index([17, 18], dtype='int64')
Количество товаров в чеке          501890
Выручка, тг с НДС            528181861.20
Выручка, тг без НДС          471733890.41
Количество чеков                    65641
dtype: object
360 Index([19, 20], dtype='int64')
Количество товаров в чеке           919340
Выручка, тг с НДС            1031162428.43
Выручка, тг без НДС           921490246.96
Количество чеков                    110367
dtype: object
401 Index([21, 22], dtype='int64')
Количество товаров в чеке          2042523
Выручка, тг с НДС            2050046771.75
Выручка, тг без НДС          1830409723.49
Количество чеков                    220245
dtype: object
421 Index([23], dtype='int64')
Количество товаров в чеке          536199
Выручка, тг с НДС            359689560.21
Выручка, тг без НДС          321147222.95
Количество чеков                   105957
dtype: object
441 Index([24, 25], dtype='int64')
Количество товаров в чеке          710610
Выручка, тг с НДС            585949518.00
Выручка, тг без НДС          523167270.80
Количество чеков                    89798
dtype: object
444 Index([26], dtype='int64')
Количество товаров в чеке          749859
Выручка, тг с НДС            461970085.00
Выручка, тг без НДС          412469869.71
Количество чеков                   152181
dtype: object
461 Index([27, 28], dtype='int64')
Количество товаров в чеке          338717
Выручка, тг с НДС            283178897.08
Выручка, тг без НДС          252837470.30
Количество чеков                    47075
dtype: object
501 Index([29, 30], dtype='int64')
Количество товаров в чеке          487248
Выручка, тг с НДС            357166205.90
Выручка, тг без НДС          318896966.70
Количество чеков                    82791
dtype: object
521 Index([31, 32], dtype='int64')
Количество товаров в чеке          899896
Выручка, тг с НДС            767150063.98
Выручка, тг без НДС          684959288.43
Количество чеков                   130057
dtype: object
541 Index([33, 34], dtype='int64')
Количество товаров в чеке          1188145
Выручка, тг с НДС            1041680735.64
Выручка, тг без НДС           930070953.14
Количество чеков                    159158
dtype: object
542 Index([35, 36], dtype='int64')
Количество товаров в чеке          981415
Выручка, тг с НДС            868844085.28
Выручка, тг без НДС          775751282.03
Количество чеков                   143516
dtype: object
561 Index([37], dtype='int64')
Количество товаров в чеке          434355
Выручка, тг с НДС            372940725.00
Выручка, тг без НДС          332972036.39
Количество чеков                    54313
dtype: object
601 Index([38], dtype='int64')
Количество товаров в чеке          198274
Выручка, тг с НДС            120535619.00
Выручка, тг без НДС          107619402.92
Количество чеков                    42415
dtype: object
602 Index([39], dtype='int64')
Количество товаров в чеке          340516
Выручка, тг с НДС            219490763.00
Выручка, тг без НДС          195973717.69
Количество чеков                    78570
dtype: object
631 Index([40, 41], dtype='int64')
Количество товаров в чеке          459812
Выручка, тг с НДС            272686223.00
Выручка, тг без НДС          243469062.88
Количество чеков                   118903
dtype: object
632 Index([42], dtype='int64')
Количество товаров в чеке          281301
Выручка, тг с НДС            199248132.00
Выручка, тг без НДС          177899159.88
Количество чеков                    59191
dtype: object
633 Index([43, 44], dtype='int64')
Количество товаров в чеке          350260
Выручка, тг с НДС            271927909.81
Выручка, тг без НДС          242791650.24
Количество чеков                    59357
dtype: object
634 Index([45], dtype='int64')
Количество товаров в чеке          381265
Выручка, тг с НДС            257026934.00
Выручка, тг без НДС          229486528.54
Количество чеков                    71912
dtype: object
635 Index([46], dtype='int64')
Количество товаров в чеке         166620
Выручка, тг с НДС            99129694.00
Выручка, тг без НДС          88513682.14
Количество чеков                   47784
dtype: object
641 Index([47, 48], dtype='int64')
Количество товаров в чеке          422229
Выручка, тг с НДС            395913775.77
Выручка, тг без НДС          353493875.15
Количество чеков                    67531
dtype: object
681 Index([49, 50], dtype='int64')
Количество товаров в чеке          618084
Выручка, тг с НДС            444181766.99
Выручка, тг без НДС          396592755.84
Количество чеков                   102659
dtype: object
701 Index([51, 52], dtype='int64')
Количество товаров в чеке          730437
Выручка, тг с НДС            603645269.43
Выручка, тг без НДС          538973324.74
Количество чеков                   118105
dtype: object
721 Index([53], dtype='int64')
Количество товаров в чеке          562049
Выручка, тг с НДС            402899884.00
Выручка, тг без НДС          359729436.58
Количество чеков                    92146
dtype: object
725 Index([54, 55], dtype='int64')
Количество товаров в чеке          855070
Выручка, тг с НДС            626126411.91
Выручка, тг без НДС          559039234.07
Количество чеков                   153715
dtype: object
767 Index([56], dtype='int64')
Количество товаров в чеке          325225
Выручка, тг с НДС            209289653.00
Выручка, тг без НДС          186864255.74
Количество чеков                    70146
dtype: object
785 Index([57], dtype='int64')
Количество товаров в чеке          154805
Выручка, тг с НДС            126097088.00
Выручка, тг без НДС          112586500.76
Количество чеков                    27383
dtype: object
805 Index([58], dtype='int64')
Количество товаров в чеке          252913
Выручка, тг с НДС            173235790.00
Выручка, тг без НДС          154675533.59
Количество чеков                    51056
dtype: object
832 Index([59], dtype='int64')
Количество товаров в чеке          313785
Выручка, тг с НДС            212616520.00
Выручка, тг без НДС          189836032.20
Количество чеков                    62073
dtype: object
845 Index([60], dtype='int64')
Количество товаров в чеке          505847
Выручка, тг с НДС            323125603.00
Выручка, тг без НДС          288504056.35
Количество чеков                   126891
dtype: object
849 Index([61, 62], dtype='int64')
Количество товаров в чеке          548422
Выручка, тг с НДС            392709658.01
Выручка, тг без НДС          350634800.78
Количество чеков                    99882
dtype: object
852 Index([63, 64], dtype='int64')
Количество товаров в чеке          859500
Выручка, тг с НДС            648858465.12
Выручка, тг без НДС          579322522.85
Количество чеков                   162969
dtype: object
866 Index([65], dtype='int64')
Количество товаров в чеке          280222
Выручка, тг с НДС            158125040.00
Выручка, тг без НДС          141182133.35
Количество чеков                    70340
dtype: object
885 Index([66], dtype='int64')
Количество товаров в чеке          184542
Выручка, тг с НДС            120933257.00
Выручка, тг без НДС          107976071.41
Количество чеков                    47336
dtype: object
889 Index([67], dtype='int64')
Количество товаров в чеке          248749
Выручка, тг с НДС            145716758.00
Выручка, тг без НДС          130104040.30
Количество чеков                    58294
dtype: object
893 Index([68], dtype='int64')
Количество товаров в чеке          198082
Выручка, тг с НДС            118196079.00
Выручка, тг без НДС          105532077.89
Количество чеков                    41953
dtype: object
897 Index([69], dtype='int64')
Количество товаров в чеке          240371
Выручка, тг с НДС            153269827.00
Выручка, тг без НДС          136847864.51
Количество чеков                    60958
dtype: object
901 Index([70], dtype='int64')
Количество товаров в чеке          212854
Выручка, тг с НДС            121138360.00
Выручка, тг без НДС          108159026.71
Количество чеков                    55517
dtype: object
925 Index([71, 72], dtype='int64')
Количество товаров в чеке          426707
Выручка, тг с НДС            279397632.44
Выручка, тг без НДС          249461660.21
Количество чеков                   107075
dtype: object
945 Index([73], dtype='int64')
Количество товаров в чеке          374941
Выручка, тг с НДС            241530535.00
Выручка, тг без НДС          215650894.32
Количество чеков                    78309
dtype: object
949 Index([74], dtype='int64')
Количество товаров в чеке          313800
Выручка, тг с НДС            181200036.00
Выручка, тг без НДС          161784673.05
Количество чеков                    76248
dtype: object
953 Index([75, 76], dtype='int64')
Количество товаров в чеке          267126
Выручка, тг с НДС            159695588.25
Выручка, тг без НДС          142583951.51
Количество чеков                    56149
dtype: object
957 Index([77], dtype='int64')
Количество товаров в чеке          365733
Выручка, тг с НДС            227472328.00
Выручка, тг без НДС          203099035.02
Количество чеков                    78339
dtype: object
961 Index([78], dtype='int64')
Количество товаров в чеке          374313
Выручка, тг с НДС            254272098.00
Выручка, тг без НДС          227027580.84
Количество чеков                    88153
dtype: object
965 Index([79, 80], dtype='int64')
Количество товаров в чеке          183512
Выручка, тг с НДС            116895767.45
Выручка, тг без НДС          104371040.20
Количество чеков                    43237
dtype: object
969 Index([81], dtype='int64')
Количество товаров в чеке          645845
Выручка, тг с НДС            451276096.00
Выручка, тг без НДС          402923432.45
Количество чеков                   128327
dtype: object
985 Index([82], dtype='int64')
Количество товаров в чеке          400582
Выручка, тг с НДС            270240982.00
Выручка, тг без НДС          241285043.24
Количество чеков                    81410
dtype: object
989 Index([83], dtype='int64')
Количество товаров в чеке          244564
Выручка, тг с НДС            149506580.00
Выручка, тг без НДС          133486985.61
Количество чеков                    52504
dtype: object
993 Index([84], dtype='int64')
Количество товаров в чеке          536166
Выручка, тг с НДС            306987235.00
Выручка, тг без НДС          274093851.62
Количество чеков                   117531
dtype: object
1005 Index([85], dtype='int64')
Количество товаров в чеке          178269
Выручка, тг с НДС            106188566.00
Выручка, тг без НДС           94811874.48
Количество чеков                    42854
dtype: object
1009 Index([86], dtype='int64')
Количество товаров в чеке         130623
Выручка, тг с НДС            74960008.00
Выручка, тг без НДС          66928861.40
Количество чеков                   35953
dtype: object
1025 Index([87], dtype='int64')
Количество товаров в чеке          234683
Выручка, тг с НДС            144975675.00
Выручка, тг без НДС          129442407.76
Количество чеков                    56654
dtype: object
1029 Index([88], dtype='int64')
Количество товаров в чеке          198689
Выручка, тг с НДС            117499036.13
Выручка, тг без НДС          104910384.00
Количество чеков                    46538
dtype: object
1033 Index([89], dtype='int64')
Количество товаров в чеке          240978
Выручка, тг с НДС            153751464.27
Выручка, тг без НДС          137277537.65
Количество чеков                    49593
dtype: object
1069 Index([90], dtype='int64')
Количество товаров в чеке          310560
Выручка, тг с НДС            182474030.00
Выручка, тг без НДС          162923454.91
Количество чеков                    74804
dtype: object
1105 Index([91, 92], dtype='int64')
Количество товаров в чеке          1709750
Выручка, тг с НДС            1563123732.01
Выручка, тг без НДС          1395647386.96
Количество чеков                    211155
dtype: object
1135 Index([93], dtype='int64')
Количество товаров в чеке          457654
Выручка, тг с НДС            268093790.00
Выручка, тг без НДС          239368481.81
Количество чеков                   102059
dtype: object
1136 Index([94], dtype='int64')
Количество товаров в чеке          219626
Выручка, тг с НДС            132654615.00
Выручка, тг без НДС          118440872.85
Количество чеков                    69725
dtype: object
1137 Index([95, 96], dtype='int64')
Количество товаров в чеке          464169
Выручка, тг с НДС            264362662.00
Выручка, тг без НДС          236042384.94
Количество чеков                   113499
dtype: object
1138 Index([97], dtype='int64')
Количество товаров в чеке          282702
Выручка, тг с НДС            190643288.00
Выручка, тг без НДС          170216045.45
Количество чеков                    61178
dtype: object
1146 Index([98], dtype='int64')
Количество товаров в чеке          307014
Выручка, тг с НДС            198411650.00
Выручка, тг без НДС          177152984.52
Количество чеков                    84747
dtype: object
1151 Index([99], dtype='int64')
Количество товаров в чеке         147486
Выручка, тг с НДС            89433059.00
Выручка, тг без НДС          79850875.82
Количество чеков                   38623
dtype: object
1152 Index([100], dtype='int64')
Количество товаров в чеке          192948
Выручка, тг с НДС            134383266.00
Выручка, тг без НДС          119984367.83
Количество чеков                    39470
dtype: object
1187 Index([101], dtype='int64')
Количество товаров в чеке         134165
Выручка, тг с НДС            83516741.00
Выручка, тг без НДС          74571941.94
Количество чеков                   27015
dtype: object
1205 Index([102, 103], dtype='int64')
Количество товаров в чеке          186692
Выручка, тг с НДС            145712297.92
Выручка, тг без НДС          130100118.88
Количество чеков                    36883
dtype: object
1208 Index([104], dtype='int64')
Количество товаров в чеке          279027
Выручка, тг с НДС            161966780.00
Выручка, тг без НДС          144613558.60
Количество чеков                    71496
dtype: object
1373 Index([105], dtype='int64')
Количество товаров в чеке         147168
Выручка, тг с НДС            89363488.00
Выручка, тг без НДС          79788617.76
Количество чеков                   34146
dtype: object
1375 Index([106], dtype='int64')
Количество товаров в чеке          259571
Выручка, тг с НДС            195963269.00
Выручка, тг без НДС          174965962.17
Количество чеков                    43541
dtype: object
1412 Index([107], dtype='int64')
Количество товаров в чеке         119440
Выручка, тг с НДС            71678120.00
Выручка, тг без НДС          63997933.98
Количество чеков                   32297
dtype: object
1432 Index([108], dtype='int64')
Количество товаров в чеке         123842
Выручка, тг с НДС            71925132.00
Выручка, тг без НДС          64219311.50
Количество чеков                   28942
dtype: object
1435 Index([109], dtype='int64')
Количество товаров в чеке          83114
Выручка, тг с НДС            56839392.00
Выручка, тг без НДС          50749644.82
Количество чеков                   21543
dtype: object
1439 Index([110], dtype='int64')
Количество товаров в чеке          205763
Выручка, тг с НДС            157821244.00
Выручка, тг без НДС          140913248.26
Количество чеков                    35724
dtype: object
1452 Index([111], dtype='int64')
Количество товаров в чеке          428573
Выручка, тг с НДС            270694509.00
Выручка, тг без НДС          241692947.46
Количество чеков                    98132
dtype: object
1552 Index([112], dtype='int64')
Количество товаров в чеке          309192
Выручка, тг с НДС            185339601.00
Выручка, тг без НДС          165483534.59
Количество чеков                    74011
dtype: object
1555 Index([113], dtype='int64')
Количество товаров в чеке          198089
Выручка, тг с НДС            114685621.00
Выручка, тг без НДС          102396918.47
Количество чеков                    51198
dtype: object
1556 Index([114], dtype='int64')
Количество товаров в чеке          82859
Выручка, тг с НДС            47839739.00
Выручка, тг без НДС          42714276.46
Количество чеков                   30319
dtype: object
1557 Index([115, 116], dtype='int64')
Количество товаров в чеке          565731
Выручка, тг с НДС            439583672.46
Выручка, тг без НДС          392484774.04
Количество чеков                    90133
dtype: object
1565 Index([117], dtype='int64')
Количество товаров в чеке         102842
Выручка, тг с НДС            77818748.00
Выручка, тг без НДС          69480704.21
Количество чеков                   21459
dtype: object
1568 Index([118], dtype='int64')
Количество товаров в чеке          96233
Выручка, тг с НДС            65952533.00
Выручка, тг без НДС          58886691.63
Количество чеков                   21123
dtype: object
1571 Index([119], dtype='int64')
Количество товаров в чеке          457491
Выручка, тг с НДС            282173394.00
Выручка, тг без НДС          251937771.60
Количество чеков                    93983
dtype: object
1574 Index([120], dtype='int64')
Количество товаров в чеке          174222
Выручка, тг с НДС            115479597.00
Выручка, тг без НДС          103106383.18
Количество чеков                    32693
dtype: object
1578 Index([121, 122], dtype='int64')
Количество товаров в чеке          668613
Выручка, тг с НДС            373588166.00
Выручка, тг без НДС          333565727.38
Количество чеков                   184103
dtype: object
1581 Index([123], dtype='int64')
Количество товаров в чеке          80860
Выручка, тг с НДС            53507383.00
Выручка, тг без НДС          47774302.66
Количество чеков                   16501
dtype: object
1584 Index([124], dtype='int64')
Количество товаров в чеке          205343
Выручка, тг с НДС            149598684.00
Выручка, тг без НДС          133570063.71
Количество чеков                    38478
dtype: object
1592 Index([125], dtype='int64')
Количество товаров в чеке         110443
Выручка, тг с НДС            63246832.00
Выручка, тг без НДС          56470421.50

In [81]:
df3

,Номер филиала,Название филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,29725,19071426.00,17027953.64,10324

In [74]:
df

,Номер филиала,Название филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1161,6267009.92,5595544.58,47
1,4,Торговый зал АФ №1,1323651,1123343574.97,1002975175.50,169456
2,96,Торговый зал АФ №2,1467450,1337514658.00,1194201535.28,185292
3,96,Торговый зал АФ №2,362,1949488.76,1740614.95,16
4,102,Торговый зал АФ №3,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,29725,19071426.00,17027953.64,10324

In [72]:
df3

,Номер филиала,Название филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1Торговый зал АФ №1,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2Торговый зал АФ №2,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3Торговый зал АФ №3,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1Торговый зал КФ №1,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1Торговый зал АСФ №1,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,29725,19071426.00,17027953.64,10324

In [83]:
df4 = pd.concat([df2, df3], join='inner', axis=1)
df4.columns = ['Номер филиала', 'Оборот, тг с НДС', 'Оборот, тг без НДС',
       'Себестоимость', 'Бухгалтерская себестоимость', 'Номер филиала1',
       'Название филиала', 'Количество товаров в чеке', 'Выручка, тг с НДС',
       'Выручка, тг без НДС', 'Количество чеков']
df4.insert(1, 'Название филиала', df4.pop('Название филиала'))
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Номер филиала1,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,4,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,96,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,102,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,105,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,116,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,2889,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2970,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,2975,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,2989,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,3012,29725,19071426.00,17027953.64,10324

In [84]:
df4 = df4.drop(['Номер филиала1'], axis=1)
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,29725,19071426.00,17027953.64,10324

In [148]:
import openpyxl
import os
import datetime

for i in range(30, len(df4)):
    book = openpyxl.load_workbook('samples\\2023-04-30_2023-05-31_1583_4.xlsx')
    sheet = book.active
    
    try:
        start_date = start_date.split('-')[2] + '.' + start_date.split('-')[1] + '.' + start_date.split('-')[0]
        end_date = end_date.split('-')[2] + '.' + end_date.split('-')[1] + '.' + end_date.split('-')[0]
    except:
        ...

    sheet['D2'] = start_date
    sheet['G2'] = end_date
    sheet['B4'].value = str(datetime.datetime.now().strftime("%d.%m.%y %H:%M:%S"))
    sheet['B7'].value = df4['Название филиала'].iloc[i]
    sheet['A11'].value = start_date + '-' + end_date
    sheet['B11'].value = df4['Название филиала'].iloc[i]
    sheet['C11'].value = df4['Название филиала'].iloc[i]
    sheet['D11'].value = df4['Количество чеков'].iloc[i]
    sheet['E11'].value = df4['Выручка, тг с НДС'].iloc[i]
    sheet['F11'].value = df4['Выручка, тг без НДС'].iloc[i]
    sheet['G11'].value = df4['Оборот, тг с НДС'].iloc[i]
    sheet['H11'].value = df4['Оборот, тг без НДС'].iloc[i]
    sheet['I11'].value = df4['Себестоимость'].iloc[i]
    sheet['J11'].value = df4['Бухгалтерская себестоимость'].iloc[i]
    sheet['K11'].value = float(df4['Оборот, тг с НДС'].iloc[i]) - float(df4['Себестоимость'].iloc[i])
    try:
        sheet['L11'].value = float(df4['Оборот, тг с НДС'].iloc[i]) / float(df4['Себестоимость'].iloc[i]) - 1
    except:
        sheet['L11'].value = 0
    sheet['L11'].number_format = '0.00%'
    sheet['M11'].value = df4['Количество товаров в чеке'].iloc[i]

    sheet['D12'].value = sheet['D11'].value
    sheet['E12'].value = sheet['E11'].value
    sheet['F12'].value = sheet['F11'].value
    sheet['G12'].value = sheet['G11'].value
    sheet['H12'].value = sheet['H11'].value
    sheet['I12'].value = sheet['I11'].value
    sheet['J12'].value = sheet['J11'].value
    sheet['K12'].value = sheet['K11'].value
    sheet['L12'].value = sheet['L11'].value
    sheet['M12'].value = sheet['M11'].value
    
    try:
        os.makedirs('samples\\1583')
    except:
        pass
    book.save(f'samples\\1583\\{df4["Название филиала"].iloc[i]}_1583.xlsx')
    print('Saved', df4['Название филиала'].iloc[i])
    break

Saved Торговый зал АФ №21

In [133]:
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,29725,19071426.00,17027953.64,10324

In [131]:
book.save('samples\\kekus.xlsx')

In [100]:
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,29725,19071426.00,17027953.64,10324

In [ ]:
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0], dtype='int64')
Количество товаров в чеке                                                  11783
Выручка, тг с НДС                                                     7525031.00
Выручка, тг без НДС                                                   6718734.66
Количество чеков                                                            2589
Оборот, тг с НДС               82133802811.8219999545656379960000000000000000...
Оборот, тг без НДС             73347493095.2100944447412386556031746031742836...
Себестоимость                  57494025081.6455697745459859511759702966979874...
Бухгалтерская себестоимость    51343569435.7603851262871592390984197815968943...
dtype: object
Index([1, 2], dtype='int64')
Количество товаров в чеке                          132801427
Выручка, тг с НДС              82365149978.53000000008417696
Выручка, тг без НДС            73521297372.96154761912279914
Количество чеков                                    13344863
Оборот, тг с НДС               570533416.5163632132542774494
Оборот, тг без НДС             509670097.9197026042332769136
Себестоимость                  547488537.4228951136897313918
Бухгалтерская себестоимость    492667079.0419337098365557173
dtype: object

In [ ]:
df2.loc[[1, 2], df2.columns[1:]].sum()

Количество товаров в чеке                          132875366
Выручка, тг с НДС              82596248661.23000000016835392
Выручка, тг без НДС            73727900744.35309523824559828
Количество чеков                                    13348164
Оборот, тг с НДС               578058850.0393632132343045094
Оборот, тг без НДС             516389234.9938097469773039315
Себестоимость                  554449338.2460351552897313918
Бухгалтерская себестоимость    498882079.7768801754627076399
dtype: object

In [ ]:
pd.concat([df, df1], axis=1, join="inner")

,Номер филиала,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,985,11783,7525031.00,6718734.66,2589,82133802811.8219999545656379960000000000000000...,73347493095.2100944447412386556031746031742836...,57494025081.6455697745459859511759702966979874...,51343569435.7603851262871592390984197815968943...
1,4,132727488,82134051295.83,73314694001.57,13341562,563007982.993363213274250389408395786066240549...,502950960.845595461489249895701940682003587788...,540527736.599755072089731391755183500350775607...,486452078.306987244210403794698508562867111343...
2,4,73939,231098682.700000000084176960000000000000000067...,206603371.391547619122799142857142857142857202...,3301,7525433.52299999998002706000000000000000000000...,6719137.07410714274402701785714285714285733855...,6960800.82314004159999999999999999999999999200...,6215000.73494646562615192260393837401195928088...

In [46]:
for i in df3['Номер филиала']:
    print(i, end=', ')

4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1165, 1187, 1205, 1208, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1615, 1638, 1698, 1718, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1883, 1886, 1898, 1907, 1910, 1913, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2024, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2433, 2436, 2439, 2501, 2521, 2524, 2541, 2563, 2582, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2751, 2763, 2781, 2785, 2801, 2810, 2829, 2849, 2869, 2889, 2970, 2975, 2989, 3012,

In [8]:
s = [4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1065, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1187, 1205, 1208, 1332, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1612, 1615, 1638, 1698, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1879, 1883, 1898, 1907, 1910, 1913, 1918, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2019, 2024, 2026, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2066, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2424, 2433, 2436, 2439, 2442, 2445, 2482, 2485, 2488, 2491, 2494, 2521, 2524, 2541, 2563, 2583, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2748, 2751, 2763, 2766, 2781, 2785, 2801, 2809, 2810, 2829, 2832, 2849, 2889, 2970, 2975, 2989, 3012, 3033]
s1 = [4, 96, 102, 105, 116, 140, 197, 220, 280, 320, 360, 401, 421, 441, 444, 461, 501, 521, 541, 542, 561, 601, 602, 631, 632, 633, 634, 635, 641, 681, 701, 721, 725, 767, 785, 805, 832, 845, 849, 852, 866, 885, 889, 893, 897, 901, 925, 945, 949, 953, 957, 961, 965, 969, 985, 989, 993, 1005, 1009, 1025, 1029, 1033, 1069, 1105, 1135, 1136, 1137, 1138, 1146, 1151, 1152, 1165, 1187, 1205, 1208, 1373, 1375, 1412, 1432, 1435, 1439, 1452, 1552, 1555, 1556, 1557, 1565, 1568, 1571, 1574, 1578, 1581, 1584, 1592, 1595, 1615, 1638, 1698, 1718, 1738, 1778, 1782, 1798, 1818, 1838, 1841, 1858, 1861, 1864, 1867, 1870, 1883, 1886, 1898, 1907, 1910, 1913, 1938, 1941, 1944, 1947, 1950, 1955, 1956, 1959, 1960, 1963, 1966, 1970, 1975, 1979, 1980, 1998, 2018, 2024, 2027, 2029, 2032, 2041, 2044, 2047, 2050, 2059, 2061, 2065, 2071, 2074, 2078, 2081, 2083, 2087, 2091, 2098, 2099, 2104, 2110, 2118, 2121, 2124, 2127, 2138, 2141, 2142, 2147, 2150, 2151, 2152, 2155, 2158, 2161, 2162, 2167, 2181, 2182, 2183, 2184, 2193, 2196, 2241, 2261, 2262, 2281, 2290, 2294, 2299, 2300, 2303, 2304, 2305, 2306, 2315, 2320, 2323, 2326, 2341, 2344, 2347, 2350, 2353, 2361, 2364, 2367, 2381, 2382, 2383, 2384, 2401, 2402, 2403, 2412, 2421, 2422, 2423, 2433, 2436, 2439, 2501, 2521, 2524, 2541, 2563, 2582, 2601, 2604, 2641, 2643, 2655, 2661, 2684, 2702, 2723, 2741, 2745, 2751, 2763, 2781, 2785, 2801, 2810, 2829, 2849, 2869, 2889, 2970, 2975, 2989, 3012]
len(s)

263

In [64]:
for i in s:
    print(i)

4
96
102
105
116
140
197
220
280
320
360
401
421
441
444
461
501
521
541
542
561
601
602
631
632
633
634
635
641
681
701
721
725
767
785
805
832
845
849
852
866
885
889
893
897
901
925
945
949
953
957
961
965
969
985
989
993
1005
1009
1025
1029
1033
1065
1069
1105
1135
1136
1137
1138
1146
1151
1152
1187
1205
1208
1332
1373
1375
1412
1432
1435
1439
1452
1552
1555
1556
1557
1565
1568
1571
1574
1578
1581
1584
1592
1595
1612
1615
1638
1698
1738
1778
1782
1798
1818
1838
1841
1858
1861
1864
1867
1870
1879
1883
1898
1907
1910
1913
1918
1938
1941
1944
1947
1950
1955
1956
1959
1960
1963
1966
1970
1975
1979
1980
1998
2018
2019
2024
2026
2027
2029
2032
2041
2044
2047
2050
2059
2061
2065
2066
2071
2074
2078
2081
2083
2087
2091
2098
2099
2104
2110
2118
2121
2124
2127
2138
2141
2142
2147
2150
2151
2152
2155
2158
2161
2162
2167
2181
2182
2183
2184
2193
2196
2241
2261
2262
2281
2290
2294
2299
2300
2303
2304
2305
2306
2315
2320
2323
2326
2341
2344
2347
2350
2353
2361
2364
2367
2381
2382
2383
2384
2401
2402
2403
2412
2421
2422
2423
2424
2433
2436
2439
2442
2445
2482
2485
2488
2491
2494
2521
2524
2541
2563
2583
2601
2604
2641
2643
2655
2661
2684
2702
2723
2741
2745
2748
2751
2763
2766
2781
2785
2801
2809
2810
2829
2832
2849
2889
2970
2975
2989
3012
3033

In [9]:
import numpy as np
len(np.unique(np.asarray(s)))

263

In [10]:
s = np.asarray(s)
s1 = np.asarray(s1)
print(np.setdiff1d(s, s1))

[1065 1332 1612 1879 1918 2019 2026 2066 2424 2442 2445 2482 2485 2488
 2491 2494 2583 2748 2766 2809 2832 3033]

In [51]:
len(df3)

247