In [11]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-04-30'
end_date = '2023-05-31'
store_id = '985'

query = f"""
select qfo.source_store_id,
	 ds.store_name,
	 ds.sale_obj_name,
       sum(qfo.cnt_wares_pos_detail)                                                             as "Кол-во товаров в чеках", -- "Количество товаров в чеке"
       sum(qfo.order_sum_with_vat)                                                               as "Выручка, тг с НДС",
       sum(qfo.order_sum_without_vat)                                                            as "Выручка, тг без НДС",
       sum(qfo.is_sale_order)                                                                    as "Количество чеков"
from dwh_data.qs_fact_order qfo
left join dwh_data.dim_store ds on ds.source_store_id = qfo.source_store_id and current_date between ds.datestart and ds.dateend
where date(qfo.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
        and qfo."source_store_id"::int > 0 and ds."store_name" like '%Торговый%'
group by qfo.source_store_id, ds.store_name, ds.sale_obj_name
     union all
select   qfog.source_store_id,
	   ds.store_name,
	   ds.sale_obj_name,
         sum(qfog.count_wares)                            as quantity,
         sum(qfog.sum_sale_vat)                           as order_sum_with_vat,
         sum(qfog.sum_sale_no_vat)                        as order_sum_without_vat,
         sum(qfog.is_sale_order)                          as sale_order_cnt
from dwh_data.qs_fact_order_gross qfog
left join dwh_data.dim_store ds on ds.source_store_id = qfog.source_store_id and current_date between ds.datestart and ds.dateend
where date(qfog.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
      and qfog."source_store_id"::int > 0 and ds."store_name" like '%Торговый%'
group by qfog.source_store_id, ds.store_name, ds.sale_obj_name
order by source_store_id;
"""

cur.execute(query)

print('Executed')

df = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [12]:
import psycopg2
import csv
import pandas as pd

conn = psycopg2.connect(dbname='adb', host='172.16.10.22', port='5432',
                        user='rpa_robot', password='Qaz123123+')

cur = conn.cursor(name='1583_first_part')

start_date = '2023-05-01'
end_date = '2023-06-15'
store_id = '985'

query = f"""

SELECT
      q.source_store_id::int                                                                    as source_store_id,
      Sum(q."sum_order_wares_vat_nr")                                                           as "Оборот, тг с НДС",
      Sum(q."sum_order_wares_without_vat_nr")                                                   as "Оборот, тг без НДС",
      Sum(q."cost_price_base_t")                                                                as "Себестоимость",
      Sum(q."cost_price_base_t") - Sum(q."cost_price_base_t") *
         (Sum(q."sum_order_wares_vat_nr") - Sum(q."sum_order_wares_without_vat_nr"))
         / decode(Sum(q."sum_order_wares_vat_nr"), 0, null, Sum(q."sum_order_wares_vat_nr"))    as "Бухгалтерская себестоимость"
   FROM "dwh_data"."qs_fact_sales" q
   left join dwh_data.dim_store ds on ds.source_store_id = q.source_store_id and current_date between ds.datestart and ds.dateend
   WHERE date(q.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
    and q."source_store_id"::int > 0  and ds."store_name" like '%Торговый%'
   GROUP BY
      q."source_store_id"
 union all
    SELECT
          sa.source_store_id::int                          as source_store_id,
          Sum("sum_sale")                                  as sum_order_with_vat,
          Sum(sa."sum_sale_no_vat")                        as sum_order_without_vat,
          Sum("sum_coming")                                as cost_price_with_vat ,
          Sum(sa."sum_coming_no_vat")                      as cost_price_without_vat
    FROM "dwh_data"."qs_fact_sales_gross" sa
    left join dwh_data.dim_store ds on ds.source_store_id = sa.source_store_id and current_date between ds.datestart and ds.dateend
    where date(sa.order_date) between to_date('2023-04-30', 'YYYY-MM-DD') and to_date('2023-05-31', 'YYYY-MM-DD')
   and sa.source_store_id::int > 0  and ds."store_name" like '%Торговый%'
    GROUP BY
        sa.source_store_id
    order by source_store_id;
"""

cur.execute(query)

print('Executed')

df1 = pd.DataFrame(cur.fetchall())

cur.close()
conn.close()

Executed

In [13]:
df.columns = ["Номер филиала", "Название филиала", "Название компании", "Количество товаров в чеке", "Выручка, тг с НДС", "Выручка, тг без НДС", "Количество чеков"]
df

,Номер филиала,Название филиала,Название компании,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1161,6267009.92,5595544.58,47
1,4,Торговый зал АФ №1,Алматинский филиал №1,1323651,1123343574.97,1002975175.50,169456
2,96,Торговый зал АФ №2,Алматинский филиал №2,362,1949488.76,1740614.95,16
3,96,Торговый зал АФ №2,Алматинский филиал №2,1467450,1337514658.00,1194201535.28,185292
4,102,Торговый зал АФ №3,Алматинский филиал №3,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,29725,19071426.00,17027953.64,10324

In [14]:
df1.columns = ["Номер филиала", "Оборот, тг с НДС", "Оборот, тг без НДС", "Себестоимость", "Бухгалтерская себестоимость"]
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,6267009.82700000000000000000000000000000038632...,5595544.48839285714285714285714285714285748778...,5925228.29737828362999639185813501223828917414...,5301183.48048092068201660021360733690452144748...
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669821...,920244772.885994759307399892562363841853388926...
2,96,1337552567.60500000022372246000000000000000000...,1194241915.85858375422253613614285714285715673...,1224984914.09348939401032913791896334478206537...,1093735204.23527519613097151328147716221851105...
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1712122.67828342327111952111557085183239691294...,1534622.60706278313492814385318826056464010084...
4,102,237337683.542000000065436400000000000000000000...,211908646.019610158697512417857142857142860075...,227290643.892565747149723711612813502818801100...,202938074.904045245652782608138594880796488074...
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...
280,2970,0E-42,0E-42,0E-42,None
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...

In [19]:
df2 = df1.copy()
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    # print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0, 1], dtype='int64')
Index([2, 3], dtype='int64')
Index([4, 5], dtype='int64')
Index([6, 7], dtype='int64')
Index([8, 9], dtype='int64')
Index([10, 11], dtype='int64')
Index([12], dtype='int64')
Index([13, 14], dtype='int64')
Index([15, 16], dtype='int64')
Index([17, 18], dtype='int64')
Index([19, 20], dtype='int64')
Index([21, 22], dtype='int64')
Index([23], dtype='int64')
Index([24, 25], dtype='int64')
Index([26], dtype='int64')
Index([27, 28], dtype='int64')
Index([29, 30], dtype='int64')
Index([31, 32], dtype='int64')
Index([33, 34], dtype='int64')
Index([35, 36], dtype='int64')
Index([37], dtype='int64')
Index([38], dtype='int64')
Index([39], dtype='int64')
Index([40, 41], dtype='int64')
Index([42], dtype='int64')
Index([43, 44], dtype='int64')
Index([45], dtype='int64')
Index([46], dtype='int64')
Index([47, 48], dtype='int64')
Index([49, 50], dtype='int64')
Index([51, 52], dtype='int64')
Index([53], dtype='int64')
Index([54, 55], dtype='int64')
Index([56], dtype='int64')
Index([57], dtype='int64')
Index([58], dtype='int64')
Index([59], dtype='int64')
Index([60], dtype='int64')
Index([61, 62], dtype='int64')
Index([63, 64], dtype='int64')
Index([65], dtype='int64')
Index([66], dtype='int64')
Index([67], dtype='int64')
Index([68], dtype='int64')
Index([69], dtype='int64')
Index([70], dtype='int64')
Index([71, 72], dtype='int64')
Index([73], dtype='int64')
Index([74], dtype='int64')
Index([75, 76], dtype='int64')
Index([77], dtype='int64')
Index([78], dtype='int64')
Index([79, 80], dtype='int64')
Index([81], dtype='int64')
Index([82], dtype='int64')
Index([83], dtype='int64')
Index([84], dtype='int64')
Index([85], dtype='int64')
Index([86], dtype='int64')
Index([87], dtype='int64')
Index([88], dtype='int64')
Index([89], dtype='int64')
Index([90], dtype='int64')
Index([91, 92], dtype='int64')
Index([93], dtype='int64')
Index([94], dtype='int64')
Index([95, 96], dtype='int64')
Index([97], dtype='int64')
Index([98], dtype='int64')
Index([99], dtype='int64')
Index([100], dtype='int64')
Index([101], dtype='int64')
Index([102, 103], dtype='int64')
Index([104], dtype='int64')
Index([105], dtype='int64')
Index([106], dtype='int64')
Index([107], dtype='int64')
Index([108], dtype='int64')
Index([109], dtype='int64')
Index([110], dtype='int64')
Index([111], dtype='int64')
Index([112], dtype='int64')
Index([113], dtype='int64')
Index([114], dtype='int64')
Index([115, 116], dtype='int64')
Index([117], dtype='int64')
Index([118], dtype='int64')
Index([119], dtype='int64')
Index([120], dtype='int64')
Index([121, 122], dtype='int64')
Index([123], dtype='int64')
Index([124], dtype='int64')
Index([125], dtype='int64')
Index([126, 127], dtype='int64')
Index([128], dtype='int64')
Index([129, 130], dtype='int64')
Index([131], dtype='int64')
Index([132], dtype='int64')
Index([133], dtype='int64')
Index([134], dtype='int64')
Index([135], dtype='int64')
Index([136, 137], dtype='int64')
Index([138], dtype='int64')
Index([139], dtype='int64')
Index([140], dtype='int64')
Index([141], dtype='int64')
Index([142], dtype='int64')
Index([143], dtype='int64')
Index([144], dtype='int64')
Index([145], dtype='int64')
Index([146], dtype='int64')
Index([147, 148], dtype='int64')
Index([149], dtype='int64')
Index([150], dtype='int64')
Index([151], dtype='int64')
Index([152], dtype='int64')
Index([153], dtype='int64')
Index([154], dtype='int64')
Index([155], dtype='int64')
Index([156], dtype='int64')
Index([157], dtype='int64')
Index([158], dtype='int64')
Index([159], dtype='int64')
Index([160], dtype='int64')
Index([161], dtype='int64')
Index([162], dtype='int64')
Index([163], dtype='int64')
Index([164, 165], dtype='int64')
Index([166], dtype='int64')
Index([167], dtype='int64')
Index([168], dtype='int64')
Index([169], dtype='int64')
Index([170], dtype='int64')
Index([171], dtype='int64')
Index([172], dtype='int64')
Index([173], dtype='int64')
Index([174], dtype='int64')
Index([175], dtype='int64')
Index([176], dtype='int64')
Index([177], dtype='int64')
Index([178], dtype='int64')
Index([179, 180], dtype='int64')
Index([181], dtype='int64')
Index([182], dtype='int64')
Index([183], dtype='int64')
Index([184], dtype='int64')
Index([185], dtype='int64')
Index([186], dtype='int64')
Index([187], dtype='int64')
Index([188], dtype='int64')
Index([189], dtype='int64')
Index([190], dtype='int64')
Index([191], dtype='int64')
Index([192], dtype='int64')
Index([193], dtype='int64')
Index([194], dtype='int64')
Index([195], dtype='int64')
Index([196], dtype='int64')
Index([197], dtype='int64')
Index([198], dtype='int64')
Index([199], dtype='int64')
Index([200], dtype='int64')
Index([201], dtype='int64')
Index([202, 203], dtype='int64')
Index([204], dtype='int64')
Index([205], dtype='int64')
Index([206], dtype='int64')
Index([207], dtype='int64')
Index([208], dtype='int64')
Index([209], dtype='int64')
Index([210], dtype='int64')
Index([211], dtype='int64')
Index([212], dtype='int64')
Index([213, 214], dtype='int64')
Index([215], dtype='int64')
Index([216], dtype='int64')
Index([217], dtype='int64')
Index([218], dtype='int64')
Index([219], dtype='int64')
Index([220], dtype='int64')
Index([221], dtype='int64')
Index([222], dtype='int64')
Index([223], dtype='int64')
Index([224], dtype='int64')
Index([225], dtype='int64')
Index([226], dtype='int64')
Index([227, 228], dtype='int64')
Index([229], dtype='int64')
Index([230], dtype='int64')
Index([231], dtype='int64')
Index([232], dtype='int64')
Index([233], dtype='int64')
Index([234], dtype='int64')
Index([235], dtype='int64')
Index([236], dtype='int64')
Index([237], dtype='int64')
Index([238], dtype='int64')
Index([239], dtype='int64')
Index([240], dtype='int64')
Index([241], dtype='int64')
Index([242], dtype='int64')
Index([243], dtype='int64')
Index([244], dtype='int64')
Index([245], dtype='int64')
Index([246], dtype='int64')
Index([247], dtype='int64')
Index([248], dtype='int64')
Index([249], dtype='int64')
Index([250], dtype='int64')
Index([251], dtype='int64')
Index([252, 253], dtype='int64')
Index([254], dtype='int64')
Index([255], dtype='int64')
Index([256], dtype='int64')
Index([257], dtype='int64')
Index([258], dtype='int64')
Index([259], dtype='int64')
Index([260], dtype='int64')
Index([261], dtype='int64')
Index([262], dtype='int64')
Index([263], dtype='int64')
Index([264], dtype='int64')
Index([265], dtype='int64')
Index([266], dtype='int64')
Index([267], dtype='int64')
Index([268], dtype='int64')
Index([269], dtype='int64')
Index([270], dtype='int64')
Index([271], dtype='int64')
Index([272], dtype='int64')
Index([273], dtype='int64')
Index([274], dtype='int64')
Index([275], dtype='int64')
Index([276], dtype='int64')
Index([277], dtype='int64')
Index([278], dtype='int64')
Index([279], dtype='int64')
Index([280], dtype='int64')
Index([281], dtype='int64')
Index([282], dtype='int64')
Index([283], dtype='int64')

In [20]:
df1

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,6267009.82700000000000000000000000000000038632...,5595544.48839285714285714285714285714285748778...,5925228.29737828362999639185813501223828917414...,5301183.48048092068201660021360733690452144748...
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669821...,920244772.885994759307399892562363841853388926...
2,96,1337552567.60500000022372246000000000000000000...,1194241915.85858375422253613614285714285715673...,1224984914.09348939401032913791896334478206537...,1093735204.23527519613097151328147716221851105...
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1712122.67828342327111952111557085183239691294...,1534622.60706278313492814385318826056464010084...
4,102,237337683.542000000065436400000000000000000000...,211908646.019610158697512417857142857142860075...,227290643.892565747149723711612813502818801100...,202938074.904045245652782608138594880796488074...
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...
280,2970,0E-42,0E-42,0E-42,None
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...

In [21]:
df2

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928
1,4,1123379963.81399999973863970000000000000000000...,1003011549.23703488965819413242857142857144278...,1030680594.30727868904444421862131647315669821...,920244772.885994759307399892562363841853388926...
2,96,1339502056.353000000223722460,1195982530.812155182793964708,1226697036.771772817281448659,1095269826.842337979265899657
3,96,1949488.74800000000000000000000000000000015639...,1740614.95357142857142857142857142857142871107...,1712122.67828342327111952111557085183239691294...,1534622.60706278313492814385318826056464010084...
4,102,240085507.5420000000654364000,214362060.3053244444117981321,229786116.6436187471497237116,205169820.9856576170813540367
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...
280,2970,0E-42,0E-42,0E-42,0
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...

In [22]:
df2 = df2.loc[~df2['Номер филиала'].duplicated(keep='first')]

In [23]:
df2

,Номер филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость
0,4,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928
2,96,1339502056.353000000223722460,1195982530.812155182793964708,1226697036.771772817281448659,1095269826.842337979265899657
4,102,240085507.5420000000654364000,214362060.3053244444117981321,229786116.6436187471497237116,205169820.9856576170813540367
6,105,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571
8,116,490101131.4837000005979525100,437708737.3946928404883147482,478350840.1300691511677571746,427214639.3464310332453579322
...,...,...,...,...,...
279,2889,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...
280,2970,0E-42,0E-42,0E-42,0
281,2975,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...
282,2989,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...
283,3012,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...

In [69]:
len(df2)

241

In [31]:
df3 = df.copy()
for i in df3['Номер филиала'].unique():
    print(i, df3[df3['Номер филиала'] == i].index)
    ids = df3[df3['Номер филиала'] == i].index
    # print(df3.loc[ids, df3.columns[2:]].sum())
    df3.loc[ids[0], df3.columns[3:]] = df3.loc[ids, df3.columns[3:]].sum()
    try:
        df3 = df3.drop([ids[1]])
    except:
        pass

4 Index([0, 1], dtype='int64')
96 Index([2, 3], dtype='int64')
102 Index([4, 5], dtype='int64')
105 Index([6, 7], dtype='int64')
116 Index([8, 9], dtype='int64')
140 Index([10, 11], dtype='int64')
197 Index([12], dtype='int64')
220 Index([13, 14], dtype='int64')
280 Index([15, 16], dtype='int64')
320 Index([17, 18], dtype='int64')
360 Index([19, 20], dtype='int64')
401 Index([21, 22], dtype='int64')
421 Index([23], dtype='int64')
441 Index([24, 25], dtype='int64')
444 Index([26], dtype='int64')
461 Index([27, 28], dtype='int64')
501 Index([29, 30], dtype='int64')
521 Index([31, 32], dtype='int64')
541 Index([33, 34], dtype='int64')
542 Index([35, 36], dtype='int64')
561 Index([37], dtype='int64')
601 Index([38], dtype='int64')
602 Index([39], dtype='int64')
631 Index([40, 41], dtype='int64')
632 Index([42], dtype='int64')
633 Index([43, 44], dtype='int64')
634 Index([45], dtype='int64')
635 Index([46], dtype='int64')
641 Index([47, 48], dtype='int64')
681 Index([49, 50], dtype='int64')
701 Index([51, 52], dtype='int64')
721 Index([53], dtype='int64')
725 Index([54, 55], dtype='int64')
767 Index([56], dtype='int64')
785 Index([57], dtype='int64')
805 Index([58], dtype='int64')
832 Index([59], dtype='int64')
845 Index([60], dtype='int64')
849 Index([61, 62], dtype='int64')
852 Index([63, 64], dtype='int64')
866 Index([65], dtype='int64')
885 Index([66], dtype='int64')
889 Index([67], dtype='int64')
893 Index([68], dtype='int64')
897 Index([69], dtype='int64')
901 Index([70], dtype='int64')
925 Index([71, 72], dtype='int64')
945 Index([73], dtype='int64')
949 Index([74], dtype='int64')
953 Index([75, 76], dtype='int64')
957 Index([77], dtype='int64')
961 Index([78], dtype='int64')
965 Index([79, 80], dtype='int64')
969 Index([81], dtype='int64')
985 Index([82], dtype='int64')
989 Index([83], dtype='int64')
993 Index([84], dtype='int64')
1005 Index([85], dtype='int64')
1009 Index([86], dtype='int64')
1025 Index([87], dtype='int64')
1029 Index([88], dtype='int64')
1033 Index([89], dtype='int64')
1069 Index([90], dtype='int64')
1105 Index([91, 92], dtype='int64')
1135 Index([93], dtype='int64')
1136 Index([94], dtype='int64')
1137 Index([95, 96], dtype='int64')
1138 Index([97], dtype='int64')
1146 Index([98], dtype='int64')
1151 Index([99], dtype='int64')
1152 Index([100], dtype='int64')
1187 Index([101], dtype='int64')
1205 Index([102, 103], dtype='int64')
1208 Index([104], dtype='int64')
1373 Index([105], dtype='int64')
1375 Index([106], dtype='int64')
1412 Index([107], dtype='int64')
1432 Index([108], dtype='int64')
1435 Index([109], dtype='int64')
1439 Index([110], dtype='int64')
1452 Index([111], dtype='int64')
1552 Index([112], dtype='int64')
1555 Index([113], dtype='int64')
1556 Index([114], dtype='int64')
1557 Index([115, 116], dtype='int64')
1565 Index([117], dtype='int64')
1568 Index([118], dtype='int64')
1571 Index([119], dtype='int64')
1574 Index([120], dtype='int64')
1578 Index([121, 122], dtype='int64')
1581 Index([123], dtype='int64')
1584 Index([124], dtype='int64')
1592 Index([125], dtype='int64')
1595 Index([126, 127], dtype='int64')
1615 Index([128], dtype='int64')
1638 Index([129, 130], dtype='int64')
1698 Index([131], dtype='int64')
1738 Index([132], dtype='int64')
1778 Index([133], dtype='int64')
1782 Index([134], dtype='int64')
1798 Index([135], dtype='int64')
1818 Index([136, 137], dtype='int64')
1838 Index([138], dtype='int64')
1841 Index([139], dtype='int64')
1858 Index([140], dtype='int64')
1861 Index([141], dtype='int64')
1864 Index([142], dtype='int64')
1867 Index([143], dtype='int64')
1870 Index([144], dtype='int64')
1883 Index([145], dtype='int64')
1898 Index([146], dtype='int64')
1907 Index([147, 148], dtype='int64')
1910 Index([149], dtype='int64')
1913 Index([150], dtype='int64')
1938 Index([151], dtype='int64')
1941 Index([152], dtype='int64')
1944 Index([153], dtype='int64')
1947 Index([154], dtype='int64')
1950 Index([155], dtype='int64')
1955 Index([156], dtype='int64')
1956 Index([157], dtype='int64')
1959 Index([158], dtype='int64')
1960 Index([159], dtype='int64')
1963 Index([160], dtype='int64')
1966 Index([161], dtype='int64')
1970 Index([162], dtype='int64')
1975 Index([163], dtype='int64')
1979 Index([164, 165], dtype='int64')
1980 Index([166], dtype='int64')
1998 Index([167], dtype='int64')
2018 Index([168], dtype='int64')
2024 Index([169], dtype='int64')
2027 Index([170], dtype='int64')
2029 Index([171], dtype='int64')
2032 Index([172], dtype='int64')
2041 Index([173], dtype='int64')
2044 Index([174], dtype='int64')
2047 Index([175], dtype='int64')
2050 Index([176], dtype='int64')
2059 Index([177], dtype='int64')
2061 Index([178], dtype='int64')
2065 Index([179, 180], dtype='int64')
2071 Index([181], dtype='int64')
2074 Index([182], dtype='int64')
2078 Index([183], dtype='int64')
2081 Index([184], dtype='int64')
2083 Index([185], dtype='int64')
2087 Index([186], dtype='int64')
2091 Index([187], dtype='int64')
2098 Index([188], dtype='int64')
2099 Index([189], dtype='int64')
2104 Index([190], dtype='int64')
2110 Index([191], dtype='int64')
2118 Index([192], dtype='int64')
2121 Index([193], dtype='int64')
2124 Index([194], dtype='int64')
2127 Index([195], dtype='int64')
2138 Index([196], dtype='int64')
2141 Index([197], dtype='int64')
2142 Index([198], dtype='int64')
2147 Index([199], dtype='int64')
2150 Index([200], dtype='int64')
2151 Index([201], dtype='int64')
2152 Index([202, 203], dtype='int64')
2155 Index([204], dtype='int64')
2158 Index([205], dtype='int64')
2161 Index([206], dtype='int64')
2162 Index([207], dtype='int64')
2167 Index([208], dtype='int64')
2181 Index([209], dtype='int64')
2182 Index([210], dtype='int64')
2183 Index([211], dtype='int64')
2184 Index([212], dtype='int64')
2193 Index([213, 214], dtype='int64')
2196 Index([215], dtype='int64')
2241 Index([216], dtype='int64')
2261 Index([217], dtype='int64')
2262 Index([218], dtype='int64')
2281 Index([219], dtype='int64')
2290 Index([220], dtype='int64')
2294 Index([221], dtype='int64')
2299 Index([222], dtype='int64')
2300 Index([223], dtype='int64')
2303 Index([224], dtype='int64')
2304 Index([225], dtype='int64')
2305 Index([226], dtype='int64')
2306 Index([227, 228], dtype='int64')
2315 Index([229], dtype='int64')
2320 Index([230], dtype='int64')
2323 Index([231], dtype='int64')
2326 Index([232], dtype='int64')
2341 Index([233], dtype='int64')
2344 Index([234], dtype='int64')
2347 Index([235], dtype='int64')
2350 Index([236], dtype='int64')
2353 Index([237], dtype='int64')
2361 Index([238], dtype='int64')
2364 Index([239], dtype='int64')
2367 Index([240], dtype='int64')
2381 Index([241], dtype='int64')
2382 Index([242], dtype='int64')
2383 Index([243], dtype='int64')
2384 Index([244], dtype='int64')
2401 Index([245], dtype='int64')
2402 Index([246], dtype='int64')
2403 Index([247], dtype='int64')
2412 Index([248], dtype='int64')
2421 Index([249], dtype='int64')
2422 Index([250], dtype='int64')
2423 Index([251], dtype='int64')
2433 Index([252, 253], dtype='int64')
2436 Index([254], dtype='int64')
2439 Index([255], dtype='int64')
2521 Index([256], dtype='int64')
2524 Index([257], dtype='int64')
2541 Index([258], dtype='int64')
2563 Index([259], dtype='int64')
2601 Index([260], dtype='int64')
2604 Index([261], dtype='int64')
2641 Index([262], dtype='int64')
2643 Index([263], dtype='int64')
2655 Index([264], dtype='int64')
2661 Index([265], dtype='int64')
2684 Index([266], dtype='int64')
2702 Index([267], dtype='int64')
2723 Index([268], dtype='int64')
2741 Index([269], dtype='int64')
2745 Index([270], dtype='int64')
2751 Index([271], dtype='int64')
2763 Index([272], dtype='int64')
2781 Index([273], dtype='int64')
2785 Index([274], dtype='int64')
2801 Index([275], dtype='int64')
2810 Index([276], dtype='int64')
2829 Index([277], dtype='int64')
2849 Index([278], dtype='int64')
2889 Index([279], dtype='int64')
2970 Index([280], dtype='int64')
2975 Index([281], dtype='int64')
2989 Index([282], dtype='int64')
3012 Index([283], dtype='int64')

In [32]:
df3

,Номер филиала,Название филиала,Название компании,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,Алматинский филиал №2,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,Алматинский филиал №3,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,Карагандинский филиал №1,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,Астанинский филиал №1,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,29725,19071426.00,17027953.64,10324

In [33]:
df

,Номер филиала,Название филиала,Название компании,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1161,6267009.92,5595544.58,47
1,4,Торговый зал АФ №1,Алматинский филиал №1,1323651,1123343574.97,1002975175.50,169456
2,96,Торговый зал АФ №2,Алматинский филиал №2,362,1949488.76,1740614.95,16
3,96,Торговый зал АФ №2,Алматинский филиал №2,1467450,1337514658.00,1194201535.28,185292
4,102,Торговый зал АФ №3,Алматинский филиал №3,300090,237329551.00,211900535.53,58198
...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,29725,19071426.00,17027953.64,10324

In [35]:
df3

,Номер филиала,Название филиала,Название компании,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,Алматинский филиал №2,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,Алматинский филиал №3,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,Карагандинский филиал №1,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,Астанинский филиал №1,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,29725,19071426.00,17027953.64,10324

In [44]:
df3

,Номер филиала,Название филиала,Название компании,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,Алматинский филиал №2,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,Алматинский филиал №3,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,Карагандинский филиал №1,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,Астанинский филиал №1,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,29725,19071426.00,17027953.64,10324

In [38]:
df4 = pd.concat([df2, df3], join='inner', axis=1)
df4.columns = ['Номер филиала', 'Оборот, тг с НДС', 'Оборот, тг без НДС',
       'Себестоимость', 'Бухгалтерская себестоимость', 'Номер филиала1',
       'Название филиала', 'Название компании', 'Количество товаров в чеке', 'Выручка, тг с НДС',
       'Выручка, тг без НДС', 'Количество чеков']
df4.insert(1, 'Название филиала', df4.pop('Название филиала'))
df4.insert(2, 'Название компании', df4.pop('Название компании'))
df4

,Номер филиала,Название филиала,Название компании,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Номер филиала1,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,4,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,Алматинский филиал №2,1339502056.353000000223722460,1195982530.812155182793964708,1226697036.771772817281448659,1095269826.842337979265899657,96,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,Алматинский филиал №3,240085507.5420000000654364000,214362060.3053244444117981321,229786116.6436187471497237116,205169820.9856576170813540367,102,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,Карагандинский филиал №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,105,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,Астанинский филиал №1,490101131.4837000005979525100,437708737.3946928404883147482,478350840.1300691511677571746,427214639.3464310332453579322,116,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...,2889,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,0E-42,0E-42,0E-42,0,2970,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...,2975,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,2989,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...,3012,29725,19071426.00,17027953.64,10324

In [39]:
df4 = df4.drop(['Номер филиала1'], axis=1)
df4

,Номер филиала,Название филиала,Название компании,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,Алматинский филиал №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,Алматинский филиал №2,1339502056.353000000223722460,1195982530.812155182793964708,1226697036.771772817281448659,1095269826.842337979265899657,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,Алматинский филиал №3,240085507.5420000000654364000,214362060.3053244444117981321,229786116.6436187471497237116,205169820.9856576170813540367,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,Карагандинский филиал №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,Астанинский филиал №1,490101131.4837000005979525100,437708737.3946928404883147482,478350840.1300691511677571746,427214639.3464310332453579322,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,Астанинский филиал №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10330744.5798412264322759166842375976900297940...,9223879.08914316209735512821603190201112898813...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,Алматинский филиал №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,Астанинский филиал №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475411.5835863307248426509488403356875552909...,14710172.5918456181879470548464141275748106842...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,РЦ №1 филиал в г.Астана,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,Астанинский филиал №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960074.5556702666524444444444444444444444353...,13357209.4247049497459910810489602925227917861...,29725,19071426.00,17027953.64,10324

In [42]:
import openpyxl
import os
import datetime

for i in range(len(df4)):
    book = openpyxl.load_workbook('samples\\2023-04-30_2023-05-31_1583_4.xlsx')
    sheet = book.active
    
    try:
        start_date = start_date.split('-')[2] + '.' + start_date.split('-')[1] + '.' + start_date.split('-')[0]
        end_date = end_date.split('-')[2] + '.' + end_date.split('-')[1] + '.' + end_date.split('-')[0]
    except:
        ...

    sheet['D2'] = start_date
    sheet['G2'] = end_date
    sheet['B4'].value = str(datetime.datetime.now().strftime("%d.%m.%y %H:%M:%S"))
    sheet['B7'].value = df4['Название филиала'].iloc[i]
    sheet['A11'].value = start_date + '-' + end_date
    sheet['B11'].value = df4['Название филиала'].iloc[i]
    sheet['C11'].value = df4['Название филиала'].iloc[i]
    sheet['D11'].value = df4['Количество чеков'].iloc[i]
    sheet['E11'].value = df4['Выручка, тг с НДС'].iloc[i]
    sheet['F11'].value = df4['Выручка, тг без НДС'].iloc[i]
    sheet['G11'].value = df4['Оборот, тг с НДС'].iloc[i]
    sheet['H11'].value = df4['Оборот, тг без НДС'].iloc[i]
    sheet['I11'].value = df4['Себестоимость'].iloc[i]
    sheet['J11'].value = df4['Бухгалтерская себестоимость'].iloc[i]
    sheet['K11'].value = float(df4['Оборот, тг с НДС'].iloc[i]) - float(df4['Себестоимость'].iloc[i])
    try:
        sheet['L11'].value = float(df4['Оборот, тг с НДС'].iloc[i]) / float(df4['Себестоимость'].iloc[i]) - 1
    except:
        sheet['L11'].value = 0
    sheet['L11'].number_format = '0.00%'
    sheet['M11'].value = df4['Количество товаров в чеке'].iloc[i]

    sheet['D12'].value = sheet['D11'].value
    sheet['E12'].value = sheet['E11'].value
    sheet['F12'].value = sheet['F11'].value
    sheet['G12'].value = sheet['G11'].value
    sheet['H12'].value = sheet['H11'].value
    sheet['I12'].value = sheet['I11'].value
    sheet['J12'].value = sheet['J11'].value
    sheet['K12'].value = sheet['K11'].value
    sheet['L12'].value = sheet['L11'].value
    sheet['M12'].value = sheet['M11'].value
    
    try:
        os.makedirs('samples\\1583_1')
    except:
        pass
    book.save(f'samples\\1583_1\\{df4["Название филиала"].iloc[i]}_1583.xlsx')
    print('Saved', df4['Название филиала'].iloc[i])

Saved Торговый зал АФ №1
Saved Торговый зал АФ №2
Saved Торговый зал АФ №3
Saved Торговый зал КФ №1
Saved Торговый зал АСФ №1
Saved Торговый зал АФ №4
Saved Торговый зал АФ №5
Saved Торговый зал АФ №6
Saved Торговый зал АФ №7
Saved Торговый зал ШФ №1
Saved Торговый зал АФ №8
Saved Торговый зал АФ №10
Saved Торговый зал АФ №9
Saved Торговый зал АФ №11
Saved Торговый зал АФ №12
Saved Торговый зал ШФ №2
Saved Торговый зал ТКФ №1
Saved Торговый зал АФ №14
Saved Торговый зал АСФ №2
Saved Торговый зал АСФ №3
Saved Торговый зал ТКФ №2
Saved Торговый зал АФ №16
Saved Торговый зал АФ №15
Saved Торговый зал АФ №19
Saved Торговый зал АФ №17
Saved Торговый зал ФКС №1
Saved Торговый зал АФ №20
Saved Торговый зал АФ №18
Saved Торговый зал ШФ №4
Saved Торговый зал КФ №2
Saved Торговый зал АФ №21
Saved Торговый зал ППФ №1
Saved Торговый зал АФ №22
Saved Торговый зал АФ №23
Saved Торговый зал ШФ №3
Saved Торговый зал АФ №24
Saved Торговый зал АСФ №4
Saved Торговый зал АСФ №5
Saved Торговый зал АФ №25
Saved Торговый зал КЗФ №1
Saved Торговый зал АФ №26
Saved Торговый зал АСФ №6
Saved Торговый зал АСФ №7
Saved Торговый зал АСФ №8
Saved Торговый зал АСФ №9
Saved Торговый зал АСФ №10
Saved Торговый зал ТЗФ №1
Saved Торговый зал АФ №32
Saved Торговый зал АФ №28
Saved Торговый зал АФ №29
Saved Торговый зал АФ №30
Saved Торговый зал АФ №31
Saved Торговый зал АФ №33
Saved Торговый зал АФ №34
Saved Торговый зал АФ №35
Saved Торговый зал АФ №36
Saved Торговый зал АФ №37
Saved Торговый зал АФ №38
Saved Торговый зал ШФ №5
Saved Торговый зал АСФ №11
Saved Торговый зал АСФ №12
Saved Торговый зал АСФ №13
Saved Торговый зал АФ №39
Saved Торговый зал АСФ №15
Saved Торговый зал АФ №40
Saved Торговый зал АФ №41
Saved Торговый зал АФ №42
Saved Торговый зал АФ №43
Saved Торговый зал АСФ №14
Saved Торговый зал ШФ №6
Saved Торговый зал ШФ №7
Saved Торговый зал АСФ №16
Saved Торговый зал АСФ №17
Saved Торговый зал КФ №4
Saved Торговый зал ШФ №8
Saved Торговый зал АФ №44
Saved Торговый зал ТЗФ №2
Saved Торговый зал КФ №5
Saved Торговый зал ЕКФ №1
Saved Торговый зал АФ №45
Saved Торговый зал АСФ №19
Saved Торговый зал АФ №46
Saved Торговый зал АФ №49
Saved Торговый зал АСФ №24
Saved Торговый зал АСФ №21
Saved Торговый зал АФ №56
Saved Торговый зал АСФ №28
Saved Торговый зал АФ №50
Saved Торговый зал ШФ №9
Saved Торговый зал АФ №48
Saved Торговый зал ШФ №10
Saved Торговый зал АСФ №20
Saved Торговый зал АФ №53
Saved Торговый зал ТФ №1
Saved Торговый зал КФ №7
Saved Торговый зал АФ №51
Saved Торговый зал АСФ №23
Saved Торговый зал АСФ №18
Saved Торговый зал АФ №52
Saved Торговый зал АСФ №25
Saved Торговый зал АФ №54
Saved Торговый зал_ОПТ АФ №55
Saved Торговый зал АСФ №26
Saved Торговый зал АСФ №27
Saved Торговый зал АСФ №29
Saved Торговый зал АСФ №30
Saved Торговый зал АФ №60
Saved Торговый зал КЗФ №2
Saved Торговый зал КФ №6
Saved Торговый зал АФ №59
Saved Торговый зал АФ №58
Saved Торговый зал УКФ №1
Saved Торговый зал УКФ №2
Saved Торговый зал АСФ №31
Saved Торговый зал АСФ №33
Saved Торговый зал АСФ №32
Saved Торговый зал АСФ №35
Saved Торговый зал АСФ №41
Saved Торговый зал АСФ №34
Saved Торговый зал АСФ №36
Saved Торговый зал АСФ №37
Saved Торговый зал АСФ №38
Saved Торговый зал ТФ №2
Saved Торговый зал ФКС №2
Saved Торговый зал АФ №47
Saved Торговый зал АСФ №39
Saved Торговый зал АСФ №40
Saved Торговый зал АФ №61
Saved Торговый зал АСФ №42
Saved Торговый зал АСФ №51
Saved Торговый зал АСФ №48
Saved Торговый зал АСФ №53
Saved Торговый зал АСФ №44
Saved Торговый зал АСФ №45
Saved Торговый зал АФ №57
Saved Торговый зал АСФ №46
Saved Торговый зал АСФ №47
Saved Торговый зал АСФ №50
Saved Торговый зал АСФ №52
Saved Торговый зал АСФ №54
Saved Торговый зал АСФ №56
Saved Торговый зал АСФ №55
Saved Торговый зал АФ №62
Saved Торговый зал АФ №63
Saved Торговый зал ШФ №12
Saved Торговый зал ШФ №14
Saved Торговый зал АФ №68
Saved Торговый зал ТЗФ №3
Saved Торговый зал АФ №67
Saved Торговый зал АФ №66
Saved Торговый зал АФ №69
Saved Торговый зал СТМ 1АФ
Saved Торговый зал АСФ №63
Saved Торговый зал АФ №64
Saved Торговый зал АСФ №57
Saved Торговый зал АСФ №62
Saved Торговый зал ШФ №15
Saved Торговый зал ШФ №20
Saved Торговый зал АФ №71
Saved Торговый зал ШФ №17
Saved Торговый зал АФ №73
Saved Торговый зал СТМ 3АФ TUKANO
Saved Торговый зал СТМ 2АФ ADAL
Saved Торговый зал АФ №72
Saved Торговый зал ШФ №18
Saved Торговый зал ШФ №19
Saved Торговый зал АФ №65
Saved Торговый зал ТФ №3
Saved Торговый зал АСФ №61
Saved Торговый зал ППФ №20
Saved Торговый зал ППФ №21
Saved Торговый зал КПФ №1
Saved Торговый зал АСФ №58
Saved Торговый зал УКФ №3
Saved Торговый зал ППФ №19
Saved Торговый зал ППФ №22
Saved Торговый зал АСФ №64
Saved Торговый зал АСФ №65
Saved Торговый зал ППФ №17
Saved Торговый зал ППФ №2
Saved Торговый зал ППФ №11
Saved Торговый зал ППФ №4
Saved Торговый зал ППФ №5
Saved Торговый зал ППФ №7
Saved Торговый зал ППФ №8
Saved Торговый зал ППФ №13
Saved Торговый зал ППФ №18
Saved Торговый зал ППФ №6
Saved Торговый зал ППФ №10
Saved Торговый зал ППФ №12
Saved Торговый зал ППФ №15
Saved Торговый зал ППФ №9
Saved Торговый зал ППФ №16
Saved Торговый зал ППФ №14
Saved Торговый зал ППФ №3
Saved Торговый зал АСФ №59
Saved Торговый зал АФ №75
Saved Торговый зал АСФ №60
Saved Торговый зал ШФ №13
Saved Торговый зал ШФ №21
Saved Торговый зал ШФ №22
Saved Торговый зал ШФ №23
Saved Торговый зал АФ №70
Saved Торговый зал ШФ №24
Saved Торговый зал ШФ №25
Saved Торговый зал ШФ №26
Saved Торговый зал ШФ №27
Saved Торговый зал ШФ №28
Saved Торговый зал ШФ №29
Saved Торговый зал ШФ №30
Saved Торговый зал ШФ №32
Saved Торговый зал ШФ №33
Saved Торговый зал ШФ №34
Saved Торговый зал АСФ №66
Saved Торговый зал АСФ №67
Saved Торговый зал_ОПТ ШФ №35
Saved Торговый зал АФ №76
Saved Торговый зал АСФ №68
Saved Торговый зал АСФ №69
Saved Торговый зал АСФ №71
Saved Торговый зал АСФ №73
Saved Торговый зал АСФ №70
Saved Торговый зал АСФ №74
Saved Торговый зал АСФ №72
Saved Торговый зал АСФ №75
Saved Торговый зал АФ №77
Saved Торговый зал АФ №78
Saved Торговый зал АСФ №76
Saved Торговый зал АСФ №77
Saved Торговый зал АФ №80
Saved Торговый зал АФ №82
Saved Торговый зал АФ №83
Saved Торговый зал ТФ №4
Saved Торговый зал АСФ №79
Saved Торговый зал АФ №84
Saved Торговый зал АСФ №80
Saved Торговый зал АСФ №81
Saved Торговый зал АФ №86
Saved Торговый зал АСФ №82
Saved Торговый зал СТМ 5АСФ
Saved Торговый зал АСФ №83

In [133]:
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,29725,19071426.00,17027953.64,10324

In [131]:
book.save('samples\\kekus.xlsx')

In [100]:
df4

,Номер филиала,Название филиала,"Оборот, тг с НДС","Оборот, тг без НДС",Себестоимость,Бухгалтерская себестоимость,Количество товаров в чеке,"Выручка, тг с НДС","Выручка, тг без НДС",Количество чеков
0,4,Торговый зал АФ №1,1129646973.640999999738639700,1008607093.725427746801051275,1036605822.604656972674440610,925545956.3664756799894164928,1324812,1129610584.89,1008570720.08,169503
2,96,Торговый зал АФ №2,1339502056.353000000223722460,1195982530.812155182793964708,1226603063.203776478081448659,1095185921.974602662904594268,1467812,1339464146.76,1195942150.23,185308
4,102,Торговый зал АФ №3,240085507.5420000000654364000,214362060.3053244444117981321,229709513.5536203471497237116,205101425.3695876276428354920,300259,240077375.00,214353949.81,58213
6,105,Торговый зал КФ №1,578929044.2019999998617525300,516899921.4045888748025048478,537354539.5527312199941891141,479786066.7917906438582291571,712262,578917761.74,516888589.54,104683
8,116,Торговый зал АСФ №1,490101131.4837000005979525100,437708737.3946928404883147482,478358695.8100691511677571746,427221655.2541790727437284717,375356,490099440.1100000000000000000,437588555.2457142857142857143,48852
...,...,...,...,...,...,...,...,...,...,...
279,2889,Торговый зал АСФ №81,13033266.6000000000000000000000000000000000000...,11636845.1785704318137249857142857142857144045...,10319447.7298412264322759166842375976900297940...,9213792.61592887724702950999343938414063376072...,22454,13032280.00,11635858.71,6966
280,2970,Торговый зал АФ №86,0E-42,0E-42,0E-42,0,2,0.00,0.00,2
281,2975,Торговый зал АСФ №82,20024950.8999999999798600000000000000000000000...,17879400.6078549693236739900000000000000008792...,16475507.3335863307248426509488403356875552909...,14710258.0828221879289152818183369708204887593...,33592,20023547.00,17877998.41,10315
282,2989,Торговый зал СТМ 5АСФ,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,1098236.99999999948480000000000000000000000000...,980568.749999999540000000000000000000000000000...,44,1098237.00,980568.75,2
283,3012,Торговый зал АСФ №83,19072411.6710000000000000000000000000000000000...,17028938.9919634628006761799999999999999997421...,14960065.1156702666524444444444444444444444353...,13357200.9961335211749698154508211802915874725...,29725,19071426.00,17027953.64,10324

In [ ]:
for i in df2['Номер филиала'].unique():
    print(df2[df2['Номер филиала'] == i].index)
    ids = df2[df2['Номер филиала'] == i].index
    print(df2.loc[ids, df2.columns[1:]].sum())
    df2.loc[ids[0], df2.columns[1:]] = df2.loc[ids, df2.columns[1:]].sum()

Index([0], dtype='int64')
Количество товаров в чеке                                                  11783
Выручка, тг с НДС                                                     7525031.00
Выручка, тг без НДС                                                   6718734.66
Количество чеков                                                            2589
Оборот, тг с НДС               82133802811.8219999545656379960000000000000000...
Оборот, тг без НДС             73347493095.2100944447412386556031746031742836...
Себестоимость                  57494025081.6455697745459859511759702966979874...
Бухгалтерская себестоимость    51343569435.7603851262871592390984197815968943...
dtype: object
Index([1, 2], dtype='int64')
Количество товаров в чеке                          132801427
Выручка, тг с НДС              82365149978.53000000008417696
Выручка, тг без НДС            73521297372.96154761912279914
Количество чеков                                    13344863
Оборот, тг с НДС               570533416.5163632132542774494
Оборот, тг без НДС             509670097.9197026042332769136
Себестоимость                  547488537.4228951136897313918
Бухгалтерская себестоимость    492667079.0419337098365557173
dtype: object